html,body{
    padding:0;
    margin:0;
    font-family: '微软雅黑';
    overflow-y: hidden;
}
ul li{
    list-style: none;
}
.main{
    width: 100vw;
    height: 100vh;
}
.login_div{
    background: url('../img/bg2.jpg');
    height: 100vh;
    width: 100vw;
    text-align: center;
}
.login_div .logo_img{
    width: 11vw;
    margin: 5vh 0;
}
.login_input{
    width: 20vw;
    height: 45px;
    margin: 1vw 2vw;
    padding: 0 10px;
    min-width: 200px;
    font-size: .9vw;
    border-radius: 2px;
        border: none;
}
.login_btn{
    background: #007db9;
    color: #fff;
    border: none;
}
.checkbox{
    width: 15px;
    height: initial;
}
.main_title_bar{
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0;
    line-height: 70px;
    text-align: right;
    color: #fff;
}
.main_title_bar a{
    margin:0 50px;
}
.bg{
    width: 100vw;
    height: 100vh;
    position: fixed;
}
.logo{
        width: 60px;
    float: left;
    margin: 8px 44px;
    margin-right: 10px;
}
.left_menu{
    position: fixed;
    left: 1vw;
    top: 80px;
    color: #0079b5;
    max-height: 70vh;
    width: 13vw;
    font-size: 13px;
    border-radius: 3px;
    background: #fff;
    overflow-y: auto;
}
@media screen and (max-width:1334px){
    .left_menu{
        width: 200px;
        position: absolute !important;
    }
    .right_content{
        width: 1000px;
        left: 223px !important;
        overflow-x: auto !important;
        position: absolute !important;
    }
}   
.left_menu::-webkit-scrollbar-thumb{
    background:#b7b7b7;
    border-radius:4px;
}
.left_menu::-webkit-scrollbar{
    width:6px;
}
.left_menu::-webkit-scrollbar-corner{
    border-radius:4px;
}
.left_menu::-webkit-scrollbar-track-piece{
    background:rgba(134, 134, 134, 0.36);
    border-radius:4px;
}
.pic_close_btn{
        margin-top: 0;
    position: absolute;
    background: #fff;
}
.photo_label{
    padding: 7px 13px;
    background: #0796ff;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}
.left_menu p{
    margin: 0;
    padding: 16px 15px;
    border-bottom: solid 1px #d4d4d4;
    line-height: 2;
    cursor: pointer;
}
.photo_div{
    margin-left: 113px;
    width: 700px;
    float: left;
    margin-bottom: 20px;
}
.photo_div .img{
    width: 118px;
    height: 118px;
    padding-bottom: 10px;
    float: left;
    margin-right: 1vw;
        overflow: hidden;
}
.weightCfg_div{
    display: none;
    width: 450px;
    position: fixed;
    z-index: 10;
    top: 20vh;
    left: 40vw;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
}
.cfg_div_footer{
    text-align: center;
}
.weightCfg_div div{
    max-height: 260px;
    overflow-y: auto;
}
.weightCfg_div p{
    padding: 0px 30px;
}
.weight_input{
    width:50px !important;
    text-align: right;
    padding-right: 5px;
}
.wrong_input:focus{
    outline:none;
    border:none;
    box-shadow :0px 0px 1px 1px #f00
}
.wrong_font{
    color: #f00;
    font-size: 12px;
    margin-left: 20px;
}
.photo_div .img img{
    width: 100%
}
.green{
    background: #36b304 !important;
}
.red{
    background: #f00 !important;
}
.left_menu p img{
    width: 28px;
    float: left;
    margin-right: 23px;
}
.left_menu p:hover{
    background: #efefef;
    border-bottom: solid 1px #fff;
}
.left_menu_click{
    background: #efefef;
    border-bottom: solid 1px #efefef;
}
.close_img{
        float: right;
    margin: 30px;
    background: #fff;
    border-radius: 32px;
}
.right_content{
    position: relative;
    left: 15vw;
    top: 80px;
    bottom: 20px;
    border-radius: 5px;
    background: #fff;
    padding: 30px;
    overflow-y: auto;
    right: 8px;
    overflow-x: hidden;
    width: 80vw;
    height: 84vh;
}
.right_content::-webkit-scrollbar-thumb{
    background:#b7b7b7;
    border-radius:4px;
}
.right_content::-webkit-scrollbar{
    width:6px;
}
.right_content::-webkit-scrollbar-corner{
    border-radius:4px;
}
.right_content::-webkit-scrollbar-track-piece{
    background:rgba(134, 134, 134, 0.36);
    border-radius:4px;
}

.button{
    min-width: 111px;
    height: 32px;
    background: #3e99ff;
    border: #3e99ff;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    margin: 2px;
}
.output_button{
    width: 150px;
}
.search_button{
    min-width: 80px !important;
}
.button:active{
    background: #3889e5;
}
.driver_table{
    margin-left: 40px;
    font-size: 14px;
    width: 44%;
}
.driver_table tr td:nth-child(odd){
    color: #c31f20;
}
textarea{
    padding: 10px;
    margin: 30px;
    margin-left: 0;
    resize: none;
    width: 500px;
    height: 300px;
    border: solid 2px #dedede;
    border-radius: 3px;
    font-size: 15px;
}
.addorder table{
    height: 40vh;

}
.font_red{
    color: #f00 !important;
}
.font_blue{
    color: #008cff !important;
}
.addorder table tr{
    height: 50px;
    border-bottom: solid 1px #dedede;
}
.addorder table tr td:nth-child(even){
    text-align: left;
}
.addorder table tr td:nth-child(odd){
    text-align: left;
}
.addorder table tr td .input{
    height: 40px;
    width: 340px;
    border: solid 1px #dedede;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 15px;
}
.addorder{
    padding: 45px;
}
.fixaddress_div{
    display: none;
    width: 500px;
    float: left;
    position: absolute;
}
.input_p{
    border: solid 1px #dedede;
    min-height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background: #fff;
    margin: 0;
    cursor: pointer;
}
.closeBg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 47, 47, 0.72);
}
.p_input{
    height: 35px;
    padding-left: 8px;
    width: 100%;
    border-radius: 3px;
    border: solid 1px #b5b5b5;
}
.map_div{
    display: none;
    width: 70vw;
    height: 78vh;
    position: fixed;
    top: 10vh;
    background: #fff;
}
#allmap {
    width: 70%;
    height: 100%;
    overflow: hidden;
    margin:0;
    font-family:"微软雅黑";
    float: left;
}
.add_driver_div{
    width: 500px;
    border-radius: 3px;
    box-shadow: 0 0 5px 5px #9c9c9c;
    padding: 30px;
    margin-top: 7px;
    display: none;
    position: absolute;
    background: #fff;
}
.add_driver_div input{
        height: 40px;
    width: 250px;
    border-radius: 3px;
    border: solid 2px #dedede;
    padding-left: 5px;
    margin: 9px 0;
    margin-bottom: 25px;
}
/*去除type=number右边的箭头*/
input[type=number] {  
    -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}  

.button_del{
    background: #f00;
}
.button_disabled{
    background: #dedede !important;
}
.add_driver_div_p{
    display: none;
    margin-top: -25px;
    width: 228px;
    border: solid 1px #dedede;
    padding: 10px;
    line-height: 2;
}
.close_btn{
    float: right;
    margin-top: -80px;
    background: none;
    border: solid 1px #f00;
    color: #f00;
    border-radius: 45px;
    height: 25px;
    width: 25px;
}
.table{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}
.table tr{
    height: 45px;
}
.table tr:nth-child(1){
    background: #a9ebff;
    color: #4e4e4e;
}

.table tr:nth-child(1):hover{
    background: #a9ebff;
    color: #4e4e4e;
}
.table tr td{
    border: solid 1px #c8f0ff;
    cursor: pointer;
    padding: 3px 10px;
}
.table tr:hover{
    background: #f7f7f7;
}
.table tr td:hover{
    background: #e4f6ff;
}
.table2{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 13px;
}
.table2 tr{
    height: 45px;
}
.table2 tr:nth-child(1){
    background: #3889e5;
    color: #fff;
}
.table2 tr td{
    border-bottom: solid 1px #dedede;
    cursor: pointer;
    padding: 5px 15px;
}
.page_p{
    bottom: 4px;
    background: #fff;
    text-align: center;
    width: 100%;
    margin-top: 30px;

}
.page_btn{
    border: solid 1px #008cff;
    background: none;
    color: #008cff;
    height: 30px;
    border-radius: 3px;
    line-height: 30px;
    width: 70px;

}
.page_btn:hover{
    background: #008cff;
    color: #fff;
}
.fix_change{
    width: 72vw;
    margin-top: 30px;
}
.fix_change span{
    color: #c31f20;
}
.fix_change tr{
    height: 40px;
}
.map_right{
    width: 23vw;
    float: right;
    min-width: 290px;
}
.fixaddress_p{
    display:block;
    width: 224px;
    font-size: 13px;
    margin-top: -20px;
    border-top: none;
    cursor: pointer;
}
.input{
    height: 35px;
    padding-left: 8px;
    width: 14vw;
    border-radius: 3px;
    border: solid 1px #b5b5b5;
}
.require{
    margin-left: -20px;
    width: 6px;
    height: 6px;
    background: #f00;
    border-radius: 50px;
    display: block;
    float: left;
    margin-top: 8px;
    margin-right: 5px;
}
.evalImg{
    width: 90px;
}
.detail_table{
    width: 72vw;
    text-align: right;
}
.detail_table tr{
    height: 30px;
}
.detail_table tr td{
    width: 80px;
}
.detail_table tr td:nth-child(odd){
    color:#d42626;
    width: 100px;
}
.detail_table tr td:nth-child(even){
    text-align: left;
        min-width: 200px;
}
.detail_table tr:hover{
    background: none;
}
.detail_table tr td:hover{
    background: #efefef
}
.detail_title{
    color: #545454;
    border-bottom: solid 1px #dedede;
    padding-bottom: 10px;
}
.detail_title_div{
    height: 50px;
    line-height: 50px;
    background: #f7f7f7;
    padding-left: 20px;
}
.detail_content_div table{
    width: 60%;
    margin: 50px;
}
.payment_detail{
    width: 60%;
    margin: 50px;
}
.img_div{
    width: 60vw;
    padding: 5px 30px;
}
.img_div img{
    width: 10vw;
    padding: 20px;
    cursor: pointer;
}
.img_div img:hover{
    transform: scale(1.1);
    transition-duration: 1000ms;
}
.car_div{
    padding: 10px;
    padding-left: 40px;
    font-size: 14px;
}
.car_div_title{
    margin-left: 40px;
    color: #d42626;
}
.detail_map{
    display: none;
    width: 70vw;
    height: 70vh;
    background: #fff;
    position: fixed;
    top: 15vh;
    z-index: 100;
    left: 15vw;
}
.goback{
    float: right;
    width: 63px;
    background: url(../img/fanhui-moren.png) no-repeat;
    height: 25px;
    cursor: pointer;
    position: relative;
    border: none;
    z-index: 0;
    top: -69px;
}
.goback:active{
    background: url(../img/fanhui-dianji.png) no-repeat;
}
.search_div{
    padding: 5px;
}
.search_div .input{
        width: 130px;
    height: 30px;
    line-height: 30px;
}
.hide{
    display: none;
}
.bold{
    font-weight: bold;
}
.distance_div{
    float: left;
    position: fixed;
    height: 72px;
    background: rgba(255, 255, 255, 0.65);
    width: 268px;
    line-height: 72px;
    text-align: center;
    border-radius: 2px;
        margin-top: 30px;
}
.distance_div span{
    font-size: 19px;
}
.table_1_tr{
    font-weight: bold;
}
.addorder_btn{
    margin-left: 7vw;
    margin-top: 30px;
    width: 244px;
    height: 40px;
    background: #c31f20;
}
.date{
    padding: 8px 5px !important;
}
.disaster_area{
    cursor: pointer;
}
.textarea_disaster{
    width: 340px;
    height: 150px;
}
.span_disaster{
    margin-top: -75px;
    float: right;
}
.tips{
    float: left;
    color: #f00;
    font-size: 18px;
}
.disaster_select{
    width: 90px !important;
    margin-right: 30px
}

.find-div-body{
    display: none;
    width: 350px;
    min-height: 130px;
    background: #fff;
    float: right;
    position: absolute;
    margin-left: 242px;
    margin-top: 6px;
    border: #cccccc solid 1px;
    border-radius: 3px;
    padding-bottom: 17px;

}
.find-div-body:before{
    box-sizing: content-box;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -16px;
    padding: 0;
    left: 26px;
    border-bottom: 8px solid #fff;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: block;
    content: '';
    z-index: 12;
}
.find-div-body:after{
    box-sizing: content-box;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -18px;
    left: 25px;
    padding: 0;
    border-bottom: 9px solid #ccc;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    display: block;
    content: '';
    z-index: 10;
}
.addinspector_div{
    z-index: 10;
    display: none;
    width: 500px;
    background: #fff;
    float: right;
    position: absolute;
    margin-left: -250px;
    margin-top: 11px;
    border: #cccccc solid 1px;
    border-radius: 3px;
    position: fixed;
    top: 30vh;
    left: 50vw;
    border-radius: 10px;
}

.addinspector_div p{
    text-align: center;
}

/*开关样式*/
.mui-switch {
	width: 44px;
	height: 24px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #fdfdfd;
	box-shadow: #dfdfdf 0 0 0 0 inset;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	user-select: none;
	outline: none; }
.mui-switch:before {
    content: '';
    width: 22px;
    height: 22px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); 
}
.mui-switch:checked {
    border-color: #21b6ff;
    box-shadow: #21b6ff 0 0 0 16px inset;
    background-color: #21b6ff; }
.mui-switch:checked:before {
    left: 20px; 
}
.mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s; 
}
.mui-switch.mui-switch-animbg:before {
    transition: left 0.3s; 
}
.mui-switch.mui-switch-animbg:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #21b6ff;
    transition: border-color 0.4s, background-color ease 0.4s; 
}
.mui-switch.mui-switch-animbg:checked:before {
    transition: left 0.3s; 
}
.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; 
}
.mui-switch.mui-switch-anim:before {
    transition: left 0.3s; 
}
.mui-switch.mui-switch-anim:checked {
    box-shadow: #21b6ff 0 0 0 16px inset;
    background-color: #21b6ff;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; 
}
.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s; 
}
.companyFleet_tips{
    width: 350px;
    position: relative;
    font-size: 13px;
    padding: 15px;
    background: #1778de;
    color: #fff;
    margin-top: -52px;
    display: none;
    z-index: 10;
    left: 313px;
    border-radius: 3px;
}
/* .companyFleet_tips:before{
    box-sizing: content-box;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 27px;
    left: -18px;
    padding: 0;
    left: 26px;
    border-bottom: 8px solid transparent;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid #1778de;
    display: block;
    content: '';
    z-index: 12;
} */
.list_span{
    width: 163px;
    display: block;
    float: left;
    height: 35px;
    line-height: 35px;
}
.cfg_middle p{
    display: flex;
    text-align: center;
}
.cfg_middle p span{
    flex: 1;
}
.companyFleet_tips:after{
    box-sizing: content-box;
    width: 0px;
    height: 0px;
    position: absolute;
    top: 27px;
    left: -18px;
    padding: 0;
    border-bottom: 9px solid transparent;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid #1778de;
    display: block;
    content: '';
    z-index: 10;
}
.changeMode_btn{
    margin-left: 50px;
    margin-top: -40px;
    border: none;
    font-size: 18px;
    background: none;
    cursor: pointer;
    color: #3e99ff
}
.full_width{
    width: 95vw;
    left: 1vw;
}
.openDiv{
    flex: 0.3 !important;
    padding: 0;
    padding-top: 7px;
    font-size: 24px;
}
/* .openDiv img{
    width: 10px;
} */
.changeMode_btn img{
    vertical-align: middle;
}
.changeMode_btn:focus{
    outline: none;
}
.description_title{
    padding: 10px 30px;
    background: #f7f7f7;
    width: 87vw;
    margin-left: -30px;
}
.select_div{
    padding: 10px;
    border: solid 1px #d7d7d7;
    margin: 5px 0;
    cursor: pointer;
    padding-bottom: 20px;
}
.select_div_click{
    background: #eef6ff
}
.description{
    padding: 5px 0px;
    display: none;
}
.select_div img{
    margin: 15px;
    float: left;
    width: 30px;
    height: 20px;
}
.select_p{
    margin: 10px 0;
    font-weight: bold;
}
.opacity{
    opacity: 0;
}

.description span{
    font-size: 13px;
    margin-left: 0px;
}
.attention{
    font-size: 14px;
}
.title1{
    font-size: 14px;
}
.tips_btn{
    width: 100px;
    float: left;
    text-align: center;
}
.tabs{
    height: 30px;
}
.table_hover{
	width: 7vw;
    height: 110px;
    background: #fff;
    position: absolute;
	border: 1px solid #ccc;
    float: right;
    margin-left: -10px;
    margin-top: 10px;
	display: none;
}
.table_td:hover .table_hover{
	display: block;
}
.table_hover p{
	color: #008cff
}
.table_a{
    color: #3e99ff;
}
.table_a:active{
    color: #3889e5
}
.areaList{
    width: 285px;
    padding: 13px;
    padding-top: 30px;
}
.areaList button{
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: none;
    min-width: 61px;
}
.areaList button:hover{
    background: #c6f2ff;
}

.areaList_button_active{
    background: #a9ebff !important;
}
.submit_alert{
    display: none;
    width: 29%;
    /* min-width: 300px; */
    border: solid 1px #ccc;
    padding: 20px;
    position: fixed;
    top: 20vh;
    background: #fff;
    left: 38vw;
    z-index: 10;
    overflow-y: auto;
    max-height: 500px;
}
.alert_bg{
    display: none;
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 9
}
.disadter_location{
        position: fixed;
    width: 100vw;
    height: 85vh;
    top: 82px;
    display: none;
    left: 5vw;
    z-index: 20;
    right: 5vw;
}
.alert_add_h2{
    padding-left: 20px;
}
.inspector_search_div{
    border: solid 1px #ccc;
    width: 266px;
    margin-left: 178px;
    margin-top: -20px;
    font-size: 14px;
}
.inspector_search_div p{
    border-bottom: solid 1px #ccc;
    margin: 0;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.update_inspector{
    width: 500px;
    height: 171px;
    background: #fff;
    padding: 20px;
    top: 30vh;
    left: 50vw;
    z-index: 10;
    margin-left: -250px;
    position: fixed;
    display: none;
    border-radius: 10px;
}
.area_btn{
        background: #008cff;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 10px;
        margin-bottom: 5px;
}
.area_btn_close{
    color: #008cff;
    float: right;
    margin-top: -80px;
    background: none;
    height: 25px;
    width: 25px;
    border: none;
}
.location_page{
    width: 30%;
    float: left;
    position: absolute;
    bottom: 20px;
}
.detail_button{
    background: url(../img/detail.png) no-repeat;
    background-size: 100%;
    border: none;
    width: 26px;
    height: 27px;
}
.edit_button{
    background: url(../img/edit.png) no-repeat;
    background-size: 100%;
    border: none;
    margin-left: 2px;
    margin-right: 2px;
    width: 26px;
    height: 27px;
}
.cancel_button{
    background: url(../img/cancel.png) no-repeat;
    background-size: 100%;
    border: none;
    width: 26px;
    height: 27px;
}
.gray{
    color: #b5b5b5;
}
.red_font{
    color: #f00;
}
.map_driver_detail{
    width: 300px;
    background: rgba(255, 255, 255, 0.91);
    top: 393px;
    left: 6vw;
    z-index: 7000;
    float: left;
    margin-left: 20px;
    box-shadow: 5px 2px 13px 2px rgba(0, 0, 0, 0.33);

}
.map_driver_detail p{
    padding: 0 20px;
}
.driver_title{
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #3889e5;
    color: #fff
}
.all_driver_list{
    float: left;
    display: none;
    left: 5vw;
    background: rgba(255, 255, 255, 0.91);
    width: 450px;
    height: 87vh;
    z-index: 120;
    top: 83px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 5px 2px 13px 2px rgba(0, 0, 0, 0.33);
}
.driver_list_title{
    height: 40px;
    line-height: 40px;
    background: #3889e5;
    color: #fff;
        font-size: 14px;
}
.driver_all_div{
        height: 87vh;
    position: fixed;
    z-index: 10000;
    top: 83px;
    left: 5vw;
}
.pick{
    width: 200px !important;
}
.driver_list_p{
    width: 100%;
    padding-left: 30px;
}
.driver_list_title span{
    text-align: center;
    flex: 1;
        float: right;
    margin-right: 20px;
    cursor: pointer;
}
.all_driver_list table{
    margin-top: 0;
}
.driver_list p{
    display: flex;
    text-align: center;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    font-size: 13px;
}
.driver_list p span{
    flex: 1
}

.selected_button{
    float: left;
    border-radius: 4px 4px 0 0;
    border: 1px solid #e8a649;
    background: #e8a649;
    color: #fff;
    height: 40px;
    min-width: 120px;
    margin-left: 20px;
}
.selected_button_click{
    float: left;
    border-radius: 4px 4px 0 0;
    border: 1px solid #e8a649;
    background: #fff;
    color: #e8a649;
    height: 40px;
    min-width: 120px;
    border-bottom: solid 1px #fff;
    margin-top: 1px;
    margin-left: 20px;
}
#selected{
    border-bottom: solid 1px #e8a649;
    height: 40px;
}
.green_font{
    color: #39aa49
}
.tips2{
    color: #f00;
    margin-right: 5px;
}
.close_img{
    float: right;
    margin-top: -60px;
    margin-right: 11px;

}
.button_small{
    background: none;
    color: #3e99ff;
    padding: 4px 10px;
    border-radius: 3px;
    border: solid 1px #3e99ff;
    cursor: pointer;
}
.button_small_green{
    border: solid 1px #52b73a;
    color: #52b73a;
}
.button_small_orange{
    background: #ff9321;
    color: #fff;
    border: solid 1px #ff9321;
}
.button_small_blue{
    background: #3e99ff;
    color: #fff;
    border: solid 1px #3e99ff;
}
.button_small:active{
    background: #3e99ff;
    color: #fff;
}
.button_small_green:active{
    background: #52b73a;
    color: #fff;
}
.button_small_orange:active{
    background: #ff9321;
    color: #fff;
}
.button_small_orange:active{
    background: #3e99ff;
    color: #fff;
}
.button_small_font{
    border: none;
    text-decoration: underline;
    background: none;
    color: #3e99ff;
    cursor: pointer;
    height: 30px;
    width: 50px;
    font-size: 16px;
}
.button_small_font:hover{
    background: rgba(232, 232, 232, 1);;

}
.button_blank{
    width: 133px;
    height: 36px;
    color: #21b6ff;
    background: #fff;
    border: solid 1px #21b6ff;
    border-radius: 4px;
}
.input_file:active .button_blank{
    color: #fff;
    background: #21b6ff;
}
.input_file{
        float: left;
    position: absolute;
    height: 36px;
    width: 133px;
    opacity: 0;
}
.download{
    float: right;
    width: 133px;
    height: 43px;
    text-decoration: none;
    background: url(../img/xiazai-muban-anniu.png) no-repeat;
    background-size: 100%;
}
.download:active{
    background: url(../img/xiazai-dianjitai-anniu-.png) no-repeat;
    background-size: 100%;
}
.refreash_icon{
    width: 19px;
    border: none;
    height: 19px;
    background: url(../img/refresh.png);
    float: left;
    margin-left: 20px;
    margin-right: -14px;
}
.refrash{
    float: right;
    width: 120px;
    height: 32px;
    border-radius: 4px;
    border: solid 1px #ff4546;
    background: none;
    color: #ff4546;
}
.refrash:active{
    background: #ff4546;
    color: #fff;
}
.refrash:active .refreash_icon{
    background: url(../img/refresh_pre.png);
}
#help {
    background: url(../img/help.png);
    width: 30px;
    height: 30px;
    display: block;
    float: right;
    cursor: pointer;
    margin-top: -3px;
}
.help_btn{
    background: url(../img/help.png);
    width: 30px;
    height: 30px;
    border:none;
    vertical-align: middle;
}
.help_btn:focus{
    outline:none;
    cursor: pointer;
}
video{
    width: 20vw;
}
.search_shop4s_list{
    border: solid 1px #dedede;
    padding: 0 10px;
    max-height: 50vh;
    overflow-y: auto;
    background: #fff;
    cursor: pointer;
}
.search_shop4s_item{
    border-bottom: solid 1px #dedede;
}
.hide{
    display: none
}
.right_button_list{
    display: flex;
}
.right_button_list button{
    flex: 1;
    height: 40px;
    border: solid 1px #dedede;
    background: #fff;
}
.tips_p{
    float: left;
    margin-top: 30px;
    height: 30px;
    line-height: 30px;
}
.tips_p img{
    margin-left: 10px;
}
.zhankai{
    float: right;
    margin-top: 15px;
    margin-left: 5px;
    height: 12px;
}
.delete_pic{
    margin-top: 0;
    position: absolute;
    background: url('../img/shanchu.png');
    margin-left: 92px; 
    float: right;
    border:none;
    height: 24px;
    width: 24px;
}
.list_table_tr{
    width: 100%;
    display: flex;
}
.list_table_tr div{
    font-weight: bold;
    flex: 1;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 13px;
    background: #a9ebff;
}

.list_table_td{
    width: 100%;
    display: flex;
    cursor: pointer;
    flex-flow: row wrap;
}
.list_table_td:hover{
    background: #f7f7f7;
}
.list_table_td div{
    font-size: 13px;
    flex: 1;
    text-align: center;
    padding: 5px;
    border: 1px solid #c8f0ff;
    min-height: 40px;
    overflow-wrap: break-word;
    width: 10px;
    display: -webkit-box;
    -webkit-box-pack: center;
    box-pack: center;
    -webkit-box-align: center;
    box-align: center;
}
.ui_view_1{
    position: absolute;
    top: 0;
    background: #fff;
    z-index: 1000;
    width: 80vw;
    padding: 10px;
    height: 100%;
}
.current_btn{
    width: 40px;
    border: 1px solid #333;
    color: #333;
}
.current_btn:hover{
    width: 40px;
    border: 1px solid #333;
    color: #333;
    background: #fff;
}
@media screen and (max-width:1366px){
    .list_table_tr div{
        font-size: 10px !important;
    }
    .list_table_td div{
        font-size: 10px !important;
    }
    .detail_button,.edit_button,.cancel_button{
        width:20px;
        height:21px;
    }
    .page_p{
        margin-bottom: 50px !important;
    }
    button{
        font-size: 11px;
    }
}
.list_table_detail{
    border: 1px solid #c8f0ff;
    background: #f7f7f7;
    padding: 30px;
}
.list_table_detail table{
    width: 70%;
    text-align: left;
}
.list_table_detail table tr td:nth-child(odd){
    text-align: center;
}
.list_table_detail table tr td:nth-child(even){
    text-align: left;
}
.list_table_detail table tr{
    height: 30px;
    line-height: 30px;
}
.list_table_detail table td{
    font-size: 13px;
    width: 15%;
}
 .addorder_radio {  
    margin: 3px 3px 0px 5px;  
    display: none;
}
.addorder_label{  
    padding-left: 17px;
    cursor: pointer;
    background: url(../img/xuanxiang-anniu.png) no-repeat;
    background-position: -1px 2px;
    background-size: 241%;
    margin-right: 4px;
}
.checked {  
    background-position: -20px 2px;
} 
.button_span{
    color: #0079b5;
    cursor: pointer;
    padding: 0 10px;
}
.mini_view{
    position: absolute;
    top: 8px;
    background: #fff;
    width: 97%;
}
.paymentDetail{
    min-height: 900px;
    overflow-y: auto;
    background: #fff;
}
.detail_content_div p{
    padding-left: 20px;
    font-size: 13px;
    cursor: pointer;
    text-decoration: underline;
}
.auth .title{
    text-align: center;
    margin: 10px;
    height: 40px;
    line-height: 40px;
    font-size: 20px;
    padding-top: 23px;
    border-top: dashed 2px #ddd;
}
.auth p{
    margin-left: 50px;
    margin-right: 50px;
    color: #555;
}
.auth table{
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.auth span{
    color: #21b6ff;
}
.auth table{
    border: solid 1px #21b6ff;
    color: #555;
    text-align: center;
}
.auth table tr{
    height: 50px;
    
}
.auth table tr td{
    border: solid 1px #21b6ff;
}
.rescuefee{
    height: 40px;
    margin-bottom: 50px;
    text-align: right;
}
.rescuefee button{
    height: 40px;
    padding: 0 30px;
    border: none;
    background: #008cff;
    color: #fff;
    margin-right: 40px;
}
 /* input[type=checkbox]{
    margin: 3px 3px 0px 5px;  
    display: none;
} 
.checkbox_label{
    padding-left: 20px;
    padding-top: 3px;
    cursor: pointer;
    background: url(../img/xuanxiang-anniu.png) no-repeat;
    background-position: bottom right;
    background-size: 296%;
}
.checkbox_checked {  
    background-position: bottom left;
}  */