html,body{
    padding:0;
    margin:0;
    font-family: '微软雅黑'
}
ul li{
    list-style: none;
}
.login_div{
      background: url('../img/bg2.jpg');
      height: 100vh;
      width: 100vw;
      text-align: center;
}
.login_div .logo_img{
    width: 13vw;
    margin: 5vh 0;
}
.login_input{
    width: 20vw;
    height: 45px;
    margin: 1vw 2vw;
    padding: 0 10px;
    min-width: 200px;
    font-size: .9vw;
    border-radius: 2px;
        border: none;
}
.login_btn{
    background: #007db9;
    color: #fff;
    border: none;
}
.checkbox{
    width: 15px;
    height: initial;
}
.main_title_bar{
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0;
    line-height: 70px;
    text-align: right;
    color: #fff;
}
.main_title_bar a{
    margin:0 50px;
}
.bg{
    width: 100vw;
    height: 100vh;

}
.logo{
        width: 60px;
    float: left;
    margin: 8px 44px;
    margin-right: 10px;
}
.left_menu{
    position: fixed;
    left: 1vw;
    top: 80px;
    color: #0079b5;
    width: 13vw;
    min-width: 230px;
    font-size: 15px;
    border-radius: 3px;
    background: #fff;
}
.pic_close_btn{
        margin-top: 0;
    position: absolute;
    background: #fff;
}
.photo_label{
    padding: 7px 13px;
    background: #0796ff;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
}
.left_menu p{
    margin: 0;
    padding: 19px 25px;
    border-bottom: solid 1px #d4d4d4;
    line-height: 2;
    cursor: pointer;
}
.photo_div{
        margin-left: 113px;
    width: 700px;
    float: left;
}
.photo_div .img{
        width: 118px;
    height: 118px;
    padding-bottom: 10px;
    float: left;
    margin-right: 1vw;
        overflow: hidden;
}
.photo_div .img img{
    width: 100%
}
.green{
    background: #36b304 !important;
}
.red{
    background: #f00 !important;
}
.left_menu p img{
    width: 28px;
    float: left;
    margin-right: 23px;
}
.left_menu p:hover{
    background: #efefef;
    border-bottom: solid 1px #fff;
}
.left_menu_click{
    background: #efefef;
    border-bottom: solid 1px #efefef;
}
.close_img{
        float: right;
    margin: 30px;
    background: #fff;
    border-radius: 32px;
}
.right_content{
    position: fixed;
    left: 300px;
    top: 80px;
    bottom: 20px;
    border-radius: 5px;
    background: #fff;
    padding: 30px;
    overflow-y: auto;
    right: 50px;
    overflow-x: hidden;
}
.button{
    padding: 7px 20px;
    background: #21b6ff;
    border: #21b6ff;
    color: #fff;
    font-size: 14px;
    border-radius: 3px;
    margin: 0 5px;
}
textarea{
    padding: 10px;
    margin: 30px;
    margin-left: 0;
    resize: none;
    width: 500px;
    height: 300px;
    border: solid 2px #dedede;
    border-radius: 3px;
    font-size: 15px;
}
.addorder table{
    height: 40vh;
}
.addorder table tr{
    height: 50px;
    border-bottom: solid 1px #dedede;
}
.addorder table tr td:nth-child(even){
    text-align: left;
}
.addorder table tr td:nth-child(odd){
    text-align: right;
}
.addorder table tr td .input{
    height: 40px;
    width: 340px;
    border: solid 1px #dedede;
    border-radius: 3px;
    padding: 0 5px;
    font-size: 15px;
}
.addorder{
    padding: 45px;
}
.fixaddress_div{
    display: none;
    width: 500px;
    float: left;
    position: absolute;
}
.input_p{
    border: solid 1px #dedede;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    background: #fff;
    margin: 0;
    cursor: pointer;
}
.closeBg{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 47, 47, 0.72);
}
.map_div{
    display: none;
    width: 70vw;
    height: 78vh;
    position: fixed;
    top: 10vh;
    background: #fff;
}
#allmap {
    width: 75%;
    height: 100%;
    overflow: hidden;
    margin:0;
    font-family:"微软雅黑";
    float: left;
}
.add_driver_div{
    width: 500px;
    border-radius: 3px;
    box-shadow: 0 0 5px 5px #9c9c9c;
    padding: 30px;
    margin-top: 7px;
    display: none;
    position: absolute;
    background: #fff;
}
.add_driver_div input{
        height: 40px;
    width: 250px;
    border-radius: 3px;
    border: solid 2px #dedede;
    padding-left: 5px;
    margin: 9px 0;
    margin-bottom: 25px;
}
/*去除type=number右边的箭头*/
input[type=number] {  
    -moz-appearance:textfield;  
}  
input[type=number]::-webkit-inner-spin-button,  
input[type=number]::-webkit-outer-spin-button {  
    -webkit-appearance: none;  
    margin: 0;  
}  

.button_del{
    background: #f00;
}
.button_disabled{
    background: gray;
}
.add_driver_div_p{
    display: none;
    margin-top: -25px;
    width: 228px;
    border: solid 1px #dedede;
    padding: 10px;
    line-height: 2;
}
.close_btn{
    float: right;
    margin-top: -80px;
    background: none;
    border: solid 1px #f00;
    color: #f00;
    border-radius: 45px;
    height: 25px;
    width: 25px;
}
.table{
    width: 100%;
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
}
.table tr{
    height: 45px;
}
.table tr:nth-child(1){
    background: #a9ebff;
    color: #4e4e4e;
}
.table tr:nth-child(1):hover{
    background: #a9ebff;
    color: #4e4e4e;
}
.table tr td{
    border: solid 1px #c8f0ff;
    cursor: pointer;
}
.table tr:hover{
    background: #f7f7f7;
}
.table tr td:hover{
    background: #e4f6ff;
}
.page_p{
    position: fixed;
    bottom: 4px;
    background: #fff;
    width: 500px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.page_btn{
        border: solid 1px #008cff;
    background: none;
    color: #008cff;
    padding: 4px 15px;
    border-radius: 3px;
}
.page_btn:hover{
    background: #008cff;
    color: #fff;
}
.map_right{
    width: 15vw;
    float: right;
}
.input{
    height: 35px;
    padding-left: 8px;
    width: 14vw;
    border-radius: 3px;
    border: solid 1px #b5b5b5;
}
.require{
    color: #f00;
    margin-left: 20px;
}
.evalImg{
    width: 90px;
}
.detail_table{
    width: 60vw;
    text-align: right;
}
.detail_table tr{
    height: 30px;
}
.detail_table tr td{
    width: 80px;
}
.detail_table tr td:nth-child(odd){
    color:#d42626;
}
.detail_table tr td:nth-child(even){
    text-align: left;
}
.detail_table tr:hover{
    background: none;
}
.detail_table tr td:hover{
    background: #efefef
}
.detail_title{
    color: #545454;
    border-bottom: solid 1px #d6d6d6;
    padding-bottom: 10px;
    width: 70vw;
}
.img_div{
    width: 60vw;
    padding: 5px 30px;
}
.img_div img{
    width: 10vw;
    padding: 20px;
    cursor: pointer;
}
.img_div img:hover{
    transform: scale(1.1);
    transition-duration: 1000ms;
}
.car_div{
    padding: 10px;
    padding-left: 40px;
    font-size: 14px;
}
.car_div_title{
    margin-left: 40px;
    color: #d42626;
}
.detail_map{
    display: none;
    width: 70vw;
    height: 70vh;
    background: #fff;
    position: fixed;
    top: 15vh;
    z-index: 100;
}
.goback{
    float: right;
    width: 50px;
    border: solid 1px #0d8fde;
    background: none;
    color: #0d8fde;
    border-radius: 2px;
    height: 25px;
    cursor: pointer;
    position: fixed;
    right: 100px;
    z-index: 0;
    top: 94px;
}
.goback:hover{
    border: solid 1px #0d8fde;
    color: #fff;
    background: #0d8fde;
}
.search_div{
    padding: 5px;
}
.search_div .input{
        width: 130px;
    height: 30px;
    line-height: 30px;
}
.hide{
    display: none;
}
.bold{
    font-weight: bold;
}
.distance_div{
    float: left;
    position: fixed;
    height: 72px;
    background: rgba(255, 255, 255, 0.65);
    width: 268px;
    line-height: 72px;
    text-align: center;
    border-radius: 2px;
}
.distance_div span{
    font-size: 19px;
}
.table_1_tr{
    font-weight: bold;
}
.addorder_btn{
    margin-left: 7vw;
    margin-top: 30px;
    width: 244px;
    height: 40px;
    background: #c31f20;
}
.date{
    padding: 8px 5px !important;
}
.disaster_area{
    cursor: pointer;
}
.textarea_disaster{
    width: 340px;
    height: 150px;
}
.span_disaster{
    margin-top: -75px;
    float: right;
}
.tips{
    float: left;
    color: #f00;
    font-size: 18px;
}
.disaster_select{
    width: 90px !important;
    margin-right: 30px
}

.find-div-body{
    display: none;
    width: 350px;
    min-height: 130px;
    background: #fff;
    float: right;
    position: absolute;
    margin-left: 242px;
    margin-top: 6px;
    border: #cccccc solid 1px;
    border-radius: 3px;
    padding-bottom: 17px;

}
.find-div-body:before{
    box-sizing: content-box;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -16px;
    padding: 0;
    left: 26px;
    border-bottom: 8px solid #fff;
    border-top: 8px solid transparent;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    display: block;
    content: '';
    z-index: 12;
}
.find-div-body:after{
    box-sizing: content-box;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -18px;
    left: 25px;
    padding: 0;
    border-bottom: 9px solid #ccc;
    border-top: 9px solid transparent;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    display: block;
    content: '';
    z-index: 10;
}
.addinspector_div{
    display: none;
    width: 500px;
    background: #fff;
    float: right;
    position: absolute;
    margin-left: 5px;
    margin-top: 11px;
    border: #cccccc solid 1px;
    border-radius: 3px;
}
.addinspector_div:before{
        box-sizing: content-box;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -20px;
    padding: 0;
    left: 43px;
    border-bottom: 10px solid #fff;
    border-top: 10px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    display: block;
    content: '';
    z-index: 12;
}
.addinspector_div:after{
    box-sizing: content-box;
    width: 0px;
    height: 0px;
    position: absolute;
    top: -22px;
    left: 42px;
    padding: 0;
    border-bottom: 11px solid #ccc;
    border-top: 11px solid transparent;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    display: block;
    content: '';
    z-index: 10;
}
.addinspector_div p{
    text-align: center;
}

/*开关样式*/
.mui-switch {
	width: 52px;
	height: 31px;
	position: relative;
	border: 1px solid #dfdfdf;
	background-color: #fdfdfd;
	box-shadow: #dfdfdf 0 0 0 0 inset;
	border-radius: 20px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-clip: content-box;
	display: inline-block;
	-webkit-appearance: none;
	user-select: none;
	outline: none; }
.mui-switch:before {
    content: '';
    width: 29px;
    height: 29px;
    position: absolute;
    top: 0px;
    left: 0;
    border-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4); 
}
.mui-switch:checked {
    border-color: #64bd63;
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63; }
.mui-switch:checked:before {
    left: 21px; 
}
.mui-switch.mui-switch-animbg {
    transition: background-color ease 0.4s; 
}
.mui-switch.mui-switch-animbg:before {
    transition: left 0.3s; 
}
.mui-switch.mui-switch-animbg:checked {
    box-shadow: #dfdfdf 0 0 0 0 inset;
    background-color: #64bd63;
    transition: border-color 0.4s, background-color ease 0.4s; 
}
.mui-switch.mui-switch-animbg:checked:before {
    transition: left 0.3s; 
}
.mui-switch.mui-switch-anim {
    transition: border cubic-bezier(0, 0, 0, 1) 0.4s, box-shadow cubic-bezier(0, 0, 0, 1) 0.4s; 
}
.mui-switch.mui-switch-anim:before {
    transition: left 0.3s; 
}
.mui-switch.mui-switch-anim:checked {
    box-shadow: #64bd63 0 0 0 16px inset;
    background-color: #64bd63;
    transition: border ease 0.4s, box-shadow ease 0.4s, background-color ease 1.2s; 
}
.mui-switch.mui-switch-anim:checked:before {
    transition: left 0.3s; 
}
.table_hover{
	width: 113px;
    height: 110px;
    background: #fff;
    position: absolute;
	border: 1px solid #ccc;
    float: right;
    margin-left: -10px;
    margin-top: 10px;
	display: none;
}
.table_td:hover .table_hover{
	display: block;
}
.table_hover p{
	color: #008cff
}
.areaList{
    width: 285px;
    padding: 13px;
    padding-top: 30px;
}
.areaList button{
    background: #fff;
    padding: 5px;
    margin: 5px;
    border: solid 1px #008cff;
    min-width: 61px;
    color: #008cff;
}
.areaList button:hover{
    border: solid 1px #008cff;
    color: #fff;
    background: #008cff;
}
.submit_alert{
    display: none;
    width: 29%;
    /* min-width: 300px; */
    border: solid 1px #ccc;
    padding: 20px;
    position: fixed;
    top: 20vh;
    background: #fff;
    left: 38vw;
    z-index: 10;
}
.alert_bg{
    display: none;
    width: 100vw;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.3;
    z-index: 9
}
.disadter_location{
    position: fixed;
    width: 100vw;
    height: 70vh;
    top: 10vh;
    display: none;
}
.alert_add_h2{
    padding-left: 20px;
}
.inspector_search_div{
    border: solid 1px #ccc;
    width: 266px;
    margin-left: 172px;
    margin-top: -20px;
    font-size: 14px;
}
.inspector_search_div p{
    border-bottom: solid 1px #ccc;
    margin: 0;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
}
.update_inspector{
    width: 532px;
    height: 171px;
    background: #fff;
    padding: 20px;
    top: 28vh;
    left: 38vw;
    z-index: 10;
    position: fixed;
    display: none;
}
.area_btn{
        background: #008cff;
    border: none;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 10px;
}
.area_btn_close{
    color: #008cff;
    float: right;
    margin-top: -80px;
    background: none;
    height: 25px;
    width: 25px;
    border: none;
}