<div class="adddriver" ng-controller="disasterdriverCtrl" ng-init="initData()">
    <h2 ng-hide="status == 2">大灾司机管理</h2>
    <h2 ng-hide="status != 2">查看大灾司机</h2>
    <button class="goback" ng-click="back()"></button>
    <h4 class="detail_title">
        {{title}} <span style="margin-left:40px;color:#f00" ng-hide="status != 2">
        *司机需求量：{{driverNeedcount}}
    </span>
        <button ng-hide="status == 2" class="button" ui-sref='main.driverlocation'>查看司机位置</button>
        <button class="button" ng-hide="status == 2" ng-click="add()">添加司机</button>
        <button class="refrash" style="float:none;" ui-sref='main.review' ng-hide="status == 2">司机退出审核</button>

    </h4>
    <div class="alert_bg" ng-click="close()"></div>

    <p id="selected"><button class="selected_button selected_button_click" ng-click="change_search('driver')">普通查询</button><button class="selected_button"
            ng-click="change_search('fleet')">车队查询</button></p>
    <p>{{type}}搜索：<input type="text" ng-model="key" class="input" style="width:250px" placeholder="{{message}}">&emsp;&emsp;&emsp;状态：
        <select style="width:100px" class="input" name="" ng-model="searchStatus" id="" ng-options="a.id as a.name for a in statusTexts"></select>
        <button class="button search_button" ng-click="search()">查询</button>
        <button class="button search_button" ng-click="searchAll()">查看全部</button>
    </p>
    <table id="table2excel" cellspacing="0" ng-hide="table" cellpadding='10' class="table">
        <tr class="table_1_tr">
            <td style="width:60px;">状态</td>
            <td>司机姓名</td>
            <td>司机电话</td>
            <td>所属车队</td>
            <td>调度姓名</td>
            <td>调度电话</td>
            <td>加入时间</td>
            <td>到达时间</td>
            <td>退出时间</td>
            <td ng-hide="status == 2">操作</td>
        </tr>
        <tr ng-repeat="a in driverlist">
            <td style="width:60px;">{{a.statusDesc}}</td>
            <td>{{a.userName}}</td>
            <td>{{a.userPhone}}</td>
            <td>{{a.fleetName}}</td>
            <td>{{a.bossName}}</td>
            <td>{{a.bossPhone}}</td>
            <td>{{a.joinTime | ToLocal}}</td>
            <td>{{a.arriveTime | ToLocal}}</td>
            <td>{{a.leaveTime | ToLocal}}</td>
            <td ng-hide="status == 2">
                <button class="button" ng-click="detail(a)">查看订单</button>
                <button class="button" ng-click="out(a)" ng-hide="a.status == 2">退出大灾</button>
            </td>
        </tr>
    </table>
    <div class="addinspector_div">
        <h2 class="alert_add_h2">添加司机</h2>
        <img src="img/guanbi-dianji.png" alt="" class="close_img" ng-click="close()">
        <p style="    text-align: left;    margin-left: 60px;"><span class="tips2">*</span>姓&emsp;&emsp;名：<input type="text" class="input" ng-model="name" maxlength="4"><span style="color: #dedede;margin-left: 20px;">{{name.length + 0}}/4</span>
            <p style="    text-align: left;    margin-left: 60px;"><span class="tips2">*</span>司机电话：<input style="width: 268px;" type="text" ng-model="phone" class="input"></p>



            <p><button id="add" class="button" ng-click="add_disaster_driver()">添加</button></p>
    </div>
     
    <p ng-hide="page_p" class="page_p">
        <button class="page_btn" ng-hide="home" ng-click="Page('home')">首页 </button>
        <button class="page_btn" ng-hide="up" ng-click="Page('up')">上一页 </button> {{current}}
        <button class="page_btn" ng-hide="down" ng-click="Page('down')">下一页 </button>
        <button class="page_btn" ng-hide="end" ng-click="Page('end')">尾页 </button> 总页数:{{pageCount}}
    </p>
</div>