<div class="adddriver" ng-controller="batchshop4SCtrl" ng-init="initData()">
    <h2>批量导入</h2>
    <button class="goback" ng-click="back()"></button>
    <!-- <h4 class="detail_title">
        {{title}}
    </h4> -->
    <input class="input_file" name="input" type="file" ng-click="clear()" id="file" onchange="angular.element(this).scope().file()"
        accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel">

    <button class="button_blank">选取文件</button>
    <button id="add" class="button" ng-click="submit_order_list()" style="height:36px;">确认导入</button>
    <a href="{{url}}" class="download"></a>
    <!-- <p>{{file_title}}</p> -->
    <p ng-hide="table" style="text-align: center;font-size: 25px;">导入文件预览</p>
    <table id="table2excel" cellspacing="0" ng-hide="table" cellpadding='10' class="table">
        <tr class="table_1_tr">
            <td>
                支公司
            </td>
            <td>
                推修码
            </td>
            <td>
                车行全称
            </td>
            <td>
                车行简称
            </td>
            <td>
                车行地址
            </td>
            <td>
                售后经理
            </td>
            <td>
                电话
            </td>
            <td>
                售后经理2
            </td>
            <td>
                电话2
            </td>
            <td>
                车商人员
            </td>
            <td>
                电话
            </td>
        </tr>
        <tr ng-repeat="a in list">
            <td>
                {{a.branchCompany}}
            </td>
            <td>
                {{a.pushFixCode}}
            </td>
            <td>
                {{a.fullName}}
            </td>
            <td>
                {{a.simpleName}}
            </td>
            <td>
                {{a.address}}
            </td>
            <td>
                {{a.afterSaleMgr}}
            </td>
            <td>
                {{a.afterSalePhone}}
            </td>
            <td>
                {{a.afterSaleMgr2}}
            </td>
            <td>
                {{a.afterSalePhone2}}
            </td>
            <td>
                {{a.dealer}}
            </td>
            <td>
                {{a.dealerPhone}}
            </td>
        </tr>
    </table>
</div>