<div class="addorder_div" ng-controller="addorderCtrl" ng-init="initData()">
    <h2>下单</h2>
    <div class="addorder_jiexi" ng-hide="jiexi">
        <textarea ng-change="change()" ng-model="message" name="" id="" cols="30" rows="10" placeholder="将您的订单短信粘贴到此处进行解析"></textarea>
        <br>
        <button class="button button_disabled" ng-click="analysis()" disabled id="button">解析订单</button>
    </div>
    <div class="addorder" ng-hide="!jiexi">
        <table>
            <tr>
                <td>事故地点：</td>
                <td><input class="input" type="text" ng-model="accident" ng-change="change2()" placeholder="请输入事故地点"><span class="require">*</span></td>
            </tr>
            <tr>
                <td>目的地点：</td>
                <td>
                    <input class="input" ng-model="fixAddress" ng-click="openFix()" placeholder="请选择目的地点" readonly="true">
                    <div class="fixaddress_div" id="fixaddress_div">
                        <p class="input_p" ng-repeat="a in address_list" ng-click="clickFix(a.address,a.addressAbbr,a.id)">
                            {{a.address}} - {{a.addressAbbr}}
                        </p>
                    </div>
                    <button ng-click="addFixAddress()" class="button">地图上选择</button>
                    <span class="require">*</span>
                </td>
            </tr>
            <tr>
                <td>车主姓名：</td>
                <td><input class="input" type="text" ng-model="accidentDriverName" placeholder="请输入车主姓名"></td>
            </tr>
            <tr>
                <td>车主电话：</td>
                <td><input class="input" type="text" ng-change="change2()" ng-model="accidentDriverPhone" placeholder="请输入车主电话">
                    <span class="require">*</span>
                </td>
            </tr>
            <tr>
                <td>案件号：</td>
                <td><input class="input" type="text" ng-model="caseNo" placeholder="请输入案件号"></td>
            </tr>
            <tr>
                <td>车牌号：</td>
                <td><input class="input" type="text" ng-model="accidentCarNo" placeholder="请输入车牌号"></td>
            </tr>
            <tr ng-hide="!diaodu">
                <td>指派司机：</td>
                <td>
                    <input class="input" ng-model="Driver" ng-click="openDriver()" placeholder="请选择指派司机" readonly="true">
                    <div class="fixaddress_div" id="driver_div">
                        <p style="width:288px" class="input_p" ng-repeat="a in driver_list" ng-click="clickDriver(a.driverName,a.driverMobile,a.driverUserId)">
                            {{a.driverName}} - {{a.driverMobile}}
                        </p>
                    </div>
                    <span class="require">*</span>
                    <span ng-hide="error != 0">当前没有司机 请<span style="color:blue;cursor:pointer" ui-sref="main.adddriver">添加指派司机</span></span>
                </td>
            </tr>
            <tr ng-hide="diaodu">
                <td>指派调度：</td>
                <td>
                    <select class="input" ng-model="GrabUserId" ng-options="a.bossUserId as a.fleetName for a in driver_list"></select>
                </td>
            </tr>
            <tr>
                <td>车保类型：</td>
                <td><input type="checkbox" class="checkbox" ng-model="biaodi">标的车 <input ng-model="sanzhe" type="checkbox" class="checkbox">三者车</td>
            </tr>
            <tr>
                <td>救援车类型：</td>
                <td>拖车</td>
            </tr>
            <tr>
                <td>收费方式：</td>
                <td>
                    <input type="radio" name="chargeMode" ng-click="chargeMode(1)" ng-checked="mode1">收取现金
                    <input type="radio" name="chargeMode" ng-click="chargeMode(2)" ng-checked="mode2">免垫付
                </td>
            </tr>
        </table>
        <!--<button class="button" style="margin-left: 5vw;margin-top: 30px;"  ng-click="back()"></button>-->
        <button class="button addorder_btn " style="margin-left: 10vw;margin-top: 30px;" id="submit" ng-click="addOrder()">提交订单</button>

        <div class="closeBg" ng-click="closeBG()">
            <img src="img/close.png" ng-click="closeBG()" alt="" class="close_img">
        </div>

        <div class="map_div">
            <div ui-view>

            </div>
        </div>
    </div>

</div>