<div class="addorder_div" ng-controller="addorderCtrl" ng-init="initData()">
    <h2>下单</h2>
    <div class="addorder_jiexi" ng-hide="jiexi">
        <textarea ng-change="change()" ng-model="message" name="" id="" cols="30" rows="10" placeholder="将您的订单短信粘贴到此处进行解析"></textarea>
        <br>
        <button class="button {{message == ''?'button_disabled':''}}" ng-click="analysis()" ng-disabled="message == ''?'true':''">解析订单</button>
    </div>
    <div class="addorder" ng-hide="!jiexi">
        <button class="goback" ng-click="back()"></button>
        <table>
            <tr>
                <td><span class="require"></span>事故地点：</td>
                <td><input readonly class="input" type="text" ng-model="accidentAddress" ng-click="selectMap(1)" ng-change="change2()"
                        placeholder="请选择事故地点">

                </td>
            </tr>
            <tr>
                <td><span class="require"></span>目的地点：</td>
                <td>
                    <input class="input" ng-model="fixAddress" ng-click="selectMap(2)" placeholder="请选择目的地点" readonly="true">
                    <!-- <div class="fixaddress_div" id="fixaddress_div">
                        <p class="input_p" ng-repeat="a in address_list" ng-click="clickFix(a.address,a.addressAbbr,a.id)">
                            {{a.address}} - {{a.addressAbbr}}
                        </p>
                    </div>
                    <button ng-click="addFixAddress()" class="button">地图上选择</button> -->
                </td>
            </tr>
            <tr>
                <td>车主姓名：</td>
                <td><input ng-change="change2()" class="input" type="text" ng-model="order.accidentDriverName" placeholder="请输入车主姓名"></td>
            </tr>
            <tr>
                <td><span class="require"></span>车主电话：</td>
                <td><input ng-change="change2()" class="input" type="text" ng-model="order.accidentDriverPhone" placeholder="请输入车主电话">
                </td>
            </tr>
            <tr>
                <td>案件号：</td>
                <td><input ng-change="change2()" class="input" type="text" ng-model="order.caseNo" placeholder="请输入案件号"></td>
            </tr>
            <tr>
                <td><span class="require"></span>车牌号：</td>
                <td><input ng-change="change2()" class="input" type="text" ng-model="order.accidentCarNo" placeholder="请输入车牌号"></td>
            </tr>
            <tr ng-hide="zhipaisiji">
                <td>指派司机：</td>
                <td>
                    <input class="input" ng-model="Driver" ng-click="openDriver()" placeholder="请选择指派司机" readonly="true">
                    <div class="fixaddress_div" id="driver_div">
                        <p style="width:328px" class="input_p" ng-repeat="a in driver_list" ng-click="clickDriver(a.driverName,a.driverMobile,a.driverUserId)">
                            {{a.driverName}} - {{a.driverMobile}}
                        </p>
                    </div>
                    <span ng-hide="error != 0">当前没有司机 请<span style="color:blue;cursor:pointer" ui-sref="main.adddriver">添加指派司机</span></span>
                </td>
            </tr>
            <tr ng-hide="zhipaidiaodu">
                <td>指派调度：</td>
                <td>
                    <select ng-click="change2()" class="input" ng-model="order.designateGrabUserId" ng-options="a.bossUserId as a.fleetName for a in team_list"></select>
                </td>
            </tr>
            <tr>
                <td>救援车类型：</td>
                <td>拖车</td>
            </tr>
            <tr>
                <td><span class="require"></span>车保类型：</td>
                <td><input type="radio" ng-click="change3(1)" class="addorder_radio" ng-model="biaodi" id="biaodi">
                    <label name="biaodi" class="{{insurance == 1?'checked':''}} addorder_label" for="biaodi"></label>标的车
                    <input ng-click="change3(2)" ng-model="sanzhe" type="radio" class="addorder_radio" id="sanzhe">
                    <label name="sanzhe" class="{{insurance == 2?'checked':''}} addorder_label" for="sanzhe"></label>三者车</td>
            </tr>
            <tr>
                <td><span class="require"></span>推修类型：</td>
                <td><input type="radio" ng-click="change4(2)" class="addorder_radio" ng-model="qiangzhi" id="qiangzhi">
                    <label name="qiangzhi" class="{{pushFix == 2?'checked':''}} addorder_label" for="qiangzhi"></label>强制推修
                    <input ng-click="change4(1)" ng-model="zhengchang" type="radio" class="addorder_radio" id="zhengchang">
                    <label name="zhengchang" class="{{pushFix == 1?'checked':''}} addorder_label" for="zhengchang"></label>正常推修</td>
            </tr>
            <tr>
                <td><span class="require"></span>收费方式：</td>
                <td>
                    <input type="radio" name="chargeMode" ng-click="chargeMode(1)" ng-checked="mode1" id="mode1" value="mode1" class="addorder_radio">
                    <label name="mode1" class="{{mode == 1?'checked':''}} addorder_label" for="mode1"></label>收取现金
                    <input type="radio" name="chargeMode" ng-click="chargeMode(2)" ng-checked="mode2" id="mode2" value="mode2" class="addorder_radio">
                    <label name="mode2" class="{{mode == 2?'checked':''}} addorder_label" for="mode2"></label>免垫付
                </td>
            </tr>
        </table>
        <!--<button class="button" style="margin-left: 5vw;margin-top: 30px;"  ng-click="back()"></button>-->
        <div style="width: 476px;margin-top:40px">
            <button class="button " style="margin-left: 5vw;" id="submit" ng-click="addOrder()">提交订单</button>
            <button class="button " style="margin-left: 20px;" id="submit" ng-click="reset()">重置</button>
            <span style="float:right">为必填项</span>
            <span class="require" style="float:right"></span>
        </div>
        <div class="closeBg" ng-click="closeBG()">
            <img src="img/close.png" ng-click="closeBG()" alt="" class="close_img">
        </div>

        <div class="map_div">
            <div ui-view>

            </div>
        </div>
    </div>

</div>