<div class="adddriver" ng-controller="companyfleetCtrl" ng-init="initData()">
    <h2>抢单车队管理</h2>
    <div class="tabs">
        <button ng-click="changeMode(1)">
                就近抢单模式
            </button>
        <!-- <div class="companyFleet_tips" id="tips1">
                <p>根据5分钟以内，按 30公里范围内抢单；</p>
                <p>5~10分钟以内，按30-50公里范围内抢单；</p>
                <p>超过10分钟，按 50-70公里范围内抢单。</p>
            </div> -->
        <button ng-click="changeMode(2)">
                抢单模式
            </button>
        <!-- <div class="companyFleet_tips" id="tips2">
                <p>加入抢单模式的车队可随机进行抢单。</p>
            </div> -->
        <button ng-click="changeMode(3)">
                按权重指派
            </button>
        <!-- <div class="companyFleet_tips" id="tips3">
                <p>按权重指派订单给施救车队。</p>
            </div> -->
        <button class="help_btn" title="解说" ng-click="openTips('div')"></button>
        <div class="companyFleet_tips" id="div">
            <p class="title1">1、就近抢单模式</p>
            <p class="title2">&emsp;&emsp;刚下单推送30公里范围内，30公里范围内的调度可以抢单；</p>
            <p class="title2">&emsp;&emsp;5分钟未接单推送50公里范围内，50公里范围内的调度可以抢单；</p>
            <p class="title2">&emsp;&emsp;10分钟未接单推送70公里范围内，70公里范围内的调度可以抢单。</p>
            <p class="title1">2、抢单模式</p>
            <p class="title2">&emsp;&emsp;加入抢单模式的车队都可以抢单，不受范围限制。</p>
            <p class="title1">3、按权重指派</p>
            <p class="title2">&emsp;&emsp;系统会根据配置比例，直接指派订单给对应的调度；若比例相同时，平均分配。</p>
            注： 1、三种模式为互斥不可兼容，切换时，配置数据保存但不可使用。 2、选择了按配置车队抢单或按配置车队的权重指派，且未配置车队，系统会默认使用第1种的就近抢单模式。
        </div>
    </div>
    <h3>当前模式：{{currentTitle}}</h3>
    <div ng-hide="current_mode != 1">
        <p>
            刚下单推送30公里范围内，30公里范围内的调度可以抢单；
        </p>
        <p>
            5分钟未接单推送50公里范围内，50公里范围内的调度可以抢单；
        </p>
        <p>
            10分钟未接单推送70公里范围内，70公里范围内的调度可以抢单。
        </p>
    </div>
    <div ng-hide="current_mode == 1">
        <p class="search_div">
            <!-- <input type="text" ng-model="keyword" placeholder="请输入车队或车队电话" class="input" style="width:200px;" ng-model="keyword"> -->
            开始时间：<input type="date" id="startDay" class="input"> 结束时间：
            <input type="date" id="endDay" class="input">
            <button class="button" ng-click="get_company_fleet()">查询</button>
            <button class="button" ng-click="initData()">显示全部</button>
            <button class="button" style="float:right" ng-click="addDriver()">
                添加抢单车队
            </button>
            <button ng-hide="current_mode != 3" class="button" style="float:right" ng-click="weightCfg()">
                权重配置
            </button>
        </p>
        <div class="weightCfg_div">
            <h2 class="alert_add_h2">权重配置</h2>
            <img src="img/guanbi-dianji.png" alt="" class="close_img" ng-click="close()">
            <span class="wrong_font">*请输入</span>
            <div>
                <p style="text-align:center;" ng-repeat="a in team_list">
                    <span class="list_span">{{a.fleetName}}：</span>
                    <input ng-keyup="keyup($event,a.fleetId)" maxlength="3" ng-blur="lose_focus()" ng-model="input" ng-change="inputNum($event,a.fleetId)"
                        ng-keypress="isNum($event,a.fleetId)" class="input weight_input" type="text" ng-value="a.weight" id="{{a.fleetId}}">
                    <span class="{{a.fleetId}}"></span>
                </p>
                {{a.fleetId}}
            </div>
            <div class="cfg_div_footer">
                <!-- <p class="gray">比例值：{{bili}}</p> -->
                <button class="button button_del" ng-click="close()">取消</button>
                <button class="button" ng-click="update_weight()">提交</button>

            </div>
        </div>
        <div class="addinspector_div">
            <h2 class="alert_add_h2">添加抢单车队</h2>
            <img src="img/guanbi-dianji.png" alt="" class="close_img" ng-click="close()">
            <p style="    text-align: left;    margin-left: 100px;width:300px">
                <input type="text" class="input" style="    width: 100%;" placeholder="支持车队名或手机号码模糊查询" ng-change="search()" ng-model="searchName"
                    ng-click="search()"><br>
                <p class="add_driver_div_p" ng-click="select(a)" ng-repeat="a in searchlist" style="display:block;margin-top: -17px;width: 278px;margin-left: 100px;">
                    {{a.name}} - {{a.bossPhone}}
                </p>
            </p>
            <p><button id="submit" class="button button_disabled" ng-click="submit_add()" disabled>确定</button>
                <button class="button button_del" ng-click="close()">取消</button></p>
        </div>
        <h2>{{tips}}</h2>
        <table ng-hide="table" cellspacing="0" class="table">
            <tr>
                <th></th>
                <th>车队名</th>
                <th>车队老板</th>
                <th>车队电话</th>
                <th>接单数</th>
                <th>完成数</th>
                <th>取消数</th>
                <th ng-hide="current_mode != 3">抢单比例(%)</th>
                <th>操作</th>
            </tr>
            <tr ng-repeat="a in team_list">
                <td>{{$index + 1}}</td>
                <td>{{a.fleetName}}</td>
                <td>{{a.bossName}}</td>
                <td>{{a.bossPhone}}</td>
                <td>{{a.grabOrderCounts}}</td>
                <td>{{a.finishOrderCounts}}</td>
                <td>{{a.cancelOrderCounts}}</td>
                <td ng-hide="current_mode != 3">{{a.weight}}</td>
                <td><span class="button_span" ng-click="delete(a)">移除</span></td>
            </tr>
        </table>
        <div style='height:50px;'></div>
        <div class="alert_bg" ng-click="close()"></div>
        <p ng-hide="page_p" class="page_p">
            <button class="page_btn" ng-hide="home" ng-click="Page('home')">首页 </button>
            <button class="page_btn" ng-hide="up" ng-click="Page('up')">上一页 </button> {{current}}
            <button class="page_btn" ng-hide="down" ng-click="Page('down')">下一页 </button>
            <button class="page_btn" ng-hide="end" ng-click="Page('end')">尾页 </button> 总页数:{{pageCount}}
        </p>
    </div>
</div>