<div class="adddriver" ng-controller="createdisasterCtrl" ng-init="initData()">
    <h2>创建大灾</h2>
    <button class="goback" ng-click="back()">返回</button>
    <div class="addorder">
        <table>
            <tr>
                <td><span class="tips">*</span>大灾区域：</td>
                <td>
                    <select class="input disaster_select" ng-change="selectCity()" name="" id="" ng-model="province" ng-options="a.regionId as a.regionName for a in provinceList" ></select>
                    <select class="input disaster_select" ng-change="selectArea()"  name="" id=""ng-model="city" ng-options="a.regionId as a.regionName for a in cityList"></select>
                    <span class="disaster_area">大灾区域 ></span>
                    <div class="find-div-body">
                        <button class="area_btn_close" style="margin-right: 4px;margin-top: 4px;">X</button>
                        <div class="areaList">
                            <button ng-repeat="a in areaList" ng-click="select(a)" ng-disabled="isSelect(a)">{{a.regionName}}</button>
                        </div>
                    </div>
                    <button class="area_btn" ng-repeat="a in selectList track by $index" ng-click="delArea($index)" >{{a.name}}&emsp;X</button>
                </td>
            </tr>
            <tr>
                <td><span class="tips">*</span>开始日期：</td>
                <td>
                    <input class="input date" type="date" ng-model="disaster_date" id="disaster_date">
                </td>
            </tr>
            <tr>
                <td><span class="tips">*</span>司机需求量：</td>
                <td><input class="input" type="number" ng-model="disaster_driver" placeholder="请输入需要的司机人数"></td>
            </tr>
            <tr>
                <td><span class="span_disaster"><span class="tips">*</span>费用说明：</span>
                </td>
                <td>
                    <textarea id="" class="textarea_disaster" ng-model="disaster_pay" placeholder="请输入费用说明"></textarea>
                </td>
            </tr>
            <tr>
                <td><span class="span_disaster">备注：</span></td>
                <td>
                    <textarea id="" class="textarea_disaster" ng-model="disaster_remark" placeholder="请输入备注信息"></textarea>
                </td>
            </tr>
        </table>
        <!--<p>
            <button class="button" ui-sref='main.site'>设置保全场地（个）</button>
        </p>
        <p>
            <button class="button" ui-sref='main.disasterinspector'>设置查勘员（个）</button>
        </p>-->
        <div class="alert_bg"></div>
        <div class="submit_alert">
            <p>大灾区域：{{selectProvinceName}}{{selectCityName}}{{selectAreaName}}</p>
            <p>开始日期：{{startDate}}</p>
            <p>司机需求量：{{disaster_driver}}人</p>
            <p>费用说明：{{disaster_pay}}</p>
            <p>备注：{{disaster_remark}}</p>
            <p>
                <button class="button" ng-click="submit_disaster()">确定</button>
                <button class="button red" ng-click="close()">取消</button>
            </p>
        </div>
        <button id="submit" class="button" style="margin-left: 5vw;margin-top: 30px;" ng-click="create_disaster()">创建</button>
    </div>
</div>