<div class="fixaddress" ng-controller="detailCtrl" ng-init="initData()">

    <h2>订单详情</h2>
    <button class="goback" ng-click="back()"></button>
    <h4 class="detail_title">订单{{detail.orderNo}} &emsp;&emsp;<span ng-hide="disaster == 'not'">大灾{{title}}</span></h4>
    <table class="detail_table">
        <tr>
            <td>订单状态：</td>
            <td>{{detail.statusDesc}}</td>
            <td>订单类型：</td>
            <td>{{detail.orderTypeDesc}}&emsp;{{detail.rescueTypeDesc}}</td>
            <td ng-hide="disaster == 'not'">二次派单：</td>
            <td ng-hide="disaster == 'not'">{{detail.sourceOrderNo == null || detail.sourceOrderNo == ''?'否':'是'}}</td>

        </tr>
        <tr>
            <td>订单来源：</td>
            <td>{{detail.createRoleDesc}} {{detail.createName}}</td>
            <td>标的/三者：</td>
            <td>{{detail.insuranceTypeDesc}}</td>
            <td>下单时间：</td>
            <td>{{detail.createTime | ToLocal}}</td>

        </tr>
        <tr>
            <td>车主姓名：</td>
            <td>{{detail.accidentDriverName}}</td>
            <td>车主电话：</td>
            <td>{{detail.accidentDriverPhone}}</td>
            <td>车牌号：</td>
            <td>{{detail.accidentCarNoDesc}}</td>
        </tr>
        <tr>
            <td>订单费用：</td>
            <td>{{detail.platformPayments | Price}}</td>
            <td>救援车类型：</td>
            <td>{{detail.carTypeDesc}}</td>
            <td>收费方式：</td>
            <td>{{detail.chargeModeDesc}}</td>
        </tr>
        <tr>
            <td>下单备注：</td>
            <td style="max-width: 30px;">{{detail.remark}}</td>
            <td>推修类型：</td>
            <td style="max-width: 30px;">{{detail.pushFixTypeDesc}}</td>
        </tr>
        <tr ng-hide="detail.status != 8 && detail.status != 81 && detail.status != 82">
            <td>取消订单备注：</td>
            <td style="max-width: 30px;">{{detail.cancelCause}}</td>
        </tr>
    </table>
    <h4 class="detail_title">机构信息</h4>
    <table class="detail_table">
        <tr>
            <td>案件来源：</td>
            <td>{{detail.caseSource}}</td>
            <td>案件号：</td>
            <td>{{detail.caseNo}}</td>
        </tr>
        <tr>
            <td>查勘员：</td>
            <td>{{detail.inspectorName}}</td>
            <td>查勘电话：</td>
            <td>{{detail.inspectorPhone}}</td>
            <td>查勘员ID：</td>
            <td>{{detail.inspectorUserId}}</td>
        </tr>
    </table>
    <h4 class="detail_title" ng-hide="detail.grabFleetId == null || detail.grabFleetId == 0">施救单位</h4>
    <table class="detail_table" ng-hide="detail.grabFleetId == null || detail.grabFleetId == 0">
        <tr>
            <td>接单车队：</td>
            <td>{{detail.grabFleetName}}</td>
        </tr>
        <tr>
            <td>调度姓名：</td>
            <td>{{detail.grabUserName}}</td>
            <td>调度电话：</td>
            <td>{{detail.grabPhone}}</td>
            <td>调度ID：</td>
            <td>{{detail.grabUserId}}</td>
        </tr>
    </table>
    <h4 class="detail_title">地图位置</h4>
    <table class="detail_table">
        <tr>
            <td>事故地点：</td>
            <td style="width: 200px;">{{detail.accidentAddress}}</td>
            <td>经度：</td>
            <td>{{detail.accidentLongitude}}</td>
            <td>纬度：</td>
            <td>{{detail.accidentLatitude}}</td>
            <td><button class="button" ng-click="location(detail)">地图定位</button></td>
        </tr>
        <tr>
            <td style="width: 130px;">拍照事故地点：</td>
            <td style="width: 200px;">{{detail.accidentAddressPicture}}</td>
        </tr>
        <tr>
            <td>拖送目的地：</td>
            <td style="width: 200px;">{{detail.fixAddress}}</td>
            <td>经度：</td>
            <td>{{detail.fixLongitude}}</td>
            <td>纬度：</td>
            <td>{{detail.fixLatitude}}</td>
        </tr>
        <tr>
            <td style="width: 130px;">拍照维修地点：</td>
            <td style="width: 200px;">{{detail.fixAddressPicture}}</td>
        </tr>
    </table>
    <h4 class="detail_title">
        下单照片
    </h4>
    <div class="img_div">
        <img ng-repeat="a in detail.orderPictures" ng-src="{{a.zoomOutView}}" alt="" ng-click="openPic(a.path)">
    </div>
    <h4 ng-hide="disaster == 'yes'" class="detail_title">
        目的地变更记录
    </h4>
    <p ng-hide="disaster == 'yes'">
        <input type="button" ng-disabled='detail.status >= 8 || detail.status == 4 || detail.orderType == 3' class="button {{(detail.status >= 8|| detail.status == 4 || detail.orderType == 3)?'button_disabled':''}}"
            ng-click="goto(detail.orderNo)" value="修改目的地">
        <table class="fix_change">
            <tr ng-repeat="a in fix_change_list" ng-show="a.applyRoleDesc == '保险公司管理员' ">
                <td>
                    {{$index + 1}}、
                </td>
                <td>
                    <span>修改人员：</span>{{a.applyRoleDesc}} {{a.applyUserName}}
                </td>
                <td>
                    <span>目的地点：</span>{{a.applyAddress}}
                </td>
                <td>
                    <span>修改时间：</span>{{a.createTime | ToLocal}}
                </td>
            </tr>
        </table>
    </p>
    <div class="img_div">

    </div>
    <h4 class="detail_title">{{text}}</h4>
    <div class="car_div" ng-repeat="driver in assignDriverses">
        <!-- <p>
            <span class="car_div_title">任务状态：</span>
            <span>{{driver.taskFlagDesc}}</span>
            <span class="car_div_title" ng-hide="detail.orderType == 2">车辆类型：</span>
            <span ng-hide="detail.orderType == 2">{{driver.carTypeDesc}}</span>
            <span ng-hide="disaster == 'yes'" class="car_div_title">派遣备注：</span>
            <span ng-hide="disaster == 'yes'">{{driver.remark}}</span>
            <span ng-hide="disaster != 'yes'" class="car_div_title">所属车队：</span>
            <span ng-hide="disaster != 'yes'">{{driver.remark}}</span>
        </p>
        <p>
            <span class="car_div_title">{{driverText}}司机：</span>
            <span>{{driver.driverName}}</span>
            <span class="car_div_title">司机电话：</span>
            <span>{{driver.phone}}</span>
            <span class="car_div_title">司机ID：</span>
            <span>{{driver.driverUserId}}</span>
        </p> -->
        <table class="driver_table">
            <tr>
                <td>
                    任务状态：
                </td>
                <td>
                    {{driver.taskFlagDesc}}
                </td>
                <td>
                    车辆类型：
                </td>
                <td>
                    {{driver.carTypeDesc}}
                </td>
                <td ng-hide="disaster == 'yes'">
                    派遣备注：
                </td>
                <td ng-hide="disaster == 'yes'">
                    {{driver.remark}}
                </td>
                <td ng-hide="disaster != 'yes'">
                    所属车队：
                </td>
                <td ng-hide="disaster != 'yes'">
                    {{driver.fleetName}}
                </td>
            </tr>
            <tr>
                <td>
                    派遣司机：
                </td>
                <td>
                    {{driver.driverName}}
                </td>
                <td>
                    司机电话：
                </td>
                <td>
                    {{driver.phone}}
                </td>
                <td>
                    司机ID：
                </td>
                <td>
                    {{driver.driverUserId}}
                </td>
            </tr>
        </table>
        <p>
            <span ng-hide="disaster == 'yes'" class="car_div_title">派遣司机时间：</span>
            <span ng-hide="disaster == 'yes'">{{driver.createTime | ToLocal}}</span>
            <span class="car_div_title">司机接单时间：</span>
            <span>{{driver.departureTime | ToLocal}}</span>
        </p>
        <p>
            <span class="car_div_title">到达现场时间：</span>
            <span>{{driver.accidentReachTime | ToLocal}}</span>
            <span class="car_div_title">施救完成时间：</span>
            <span>{{driver.taskEndTime | ToLocal}}</span> &emsp; &emsp; &emsp; &emsp;
            <!--<p>
            <span class="car_div_title">派遣费用：</span>
            <span>{{driver.assignPrice | Price}}</span>
            span
        </p>-->
            <button class="button" ng-hide="driver.taskEndTime != null" ng-click="track(driver,detail)">查看当前位置</button>
            <button class="button" ng-hide="driver.taskEndTime == null" ng-click="track(driver,detail)">查看历史轨迹</button>
        </p>
        <h4>事故地点照片</h4>
        <div class="img_div">
            <img ng-repeat="a in driver.pictureAndVideo.accidentPictures" ng-src="{{a.zoomOutView}}" alt="" ng-click="openPic(a.path)">
        </div>
        <h4>事故地点视频</h4>
        <div class="img_div">
            <video ng-repeat="a in driver.pictureAndVideo.accidentVideos" ng-src="{{a.path}}" controls="controls"></video>
        </div>
        <h4>拖送地点照片</h4>
        <div class="img_div">
            <img ng-repeat="a in driver.pictureAndVideo.fixPictures" ng-src="{{a.zoomOutView}}" alt="" ng-click="openPic(a.path)">
        </div>
        <h4>拖送地点视频</h4>
        <div class="img_div">
            <video ng-repeat="a in driver.pictureAndVideo.fixVideos" ng-src="{{a.path}}" controls="controls"></video>
        </div>
        <div style="width: 80%;height: 2px;background: #333;"></div>
    </div>
    <h4 class="detail_title">推修厂确认信息</h4>
    <div class="car_div">
         <p>
            <span class="car_div_title">查看时间：</span>
            <span>{{detail.shop4sReadTime | ToLocal}}</span>
        </p> 
        <p>
            <span class="car_div_title">确认时间：</span>
            <span>{{detail.shop4sConfirmTime | ToLocal}}</span>
        </p>
        <p>
            <span class="car_div_title" style="color:#333;">车辆到达照片</span>
            <div class="img_div">
                <img ng-repeat="a in detail.shop4sPictures" ng-src="{{a.zoomOutView}}" alt="" ng-click="openPic(a.path)">
            </div>
        </p>
    </div>
    <div class="detail_map">
        <div id="allmap" style="width:100%"></div>
    </div>
    <div class="closeBg" ng-click="closeBG()"></div>
</div>