<div class="adddriver" ng-controller="disasterCtrl" ng-init="initData()">
    <h2>查看大灾</h2>
    <p class="search_div">
        <button class="button" ui-sref='main.createdisaster'>创建大灾</button>
        <button class="button" ui-sref='main.totleorder'>统计订单</button>

    </p>
    <p class="search_div">
        <input class="input" type="text" ng-model="disasterNo" style="width:220px;" placeholder="支持编号和区域名称模糊查询"> 开始日期：
        <input type="date" id="startDay" class="input"> 状态： <select class="input" name="" style="width:100px;" ng-model="status"
            ng-options="a.id as a.name for a in statusTexts" id=""></select>

        <button class="button search_button" ng-click="search_disaster()">查询</button>
        <button class="button" ng-click="initData()">显示全部</button>
        <!--<button class="button" ng-click="toexcel()">
            导出当前页到excel
        </button>-->
    </p>
    <table id="table2excel" cellspacing="0" ng-hide="table" cellpadding='10' class="table">
        <tr class="table_1_tr">
            <td>编号</td>
            <td style="width:8vw">城市</td>
            <td style="width:15vw">区域</td>
            <td style="width:6vw">开始日期</td>
            <td style="width:4.5vw">查勘员数量</td>
            <td style="width:6vw">司机配置</td>
            <td style="width:4vw">是否启用</td>
            <td style="width:187px">操作</td>
            <td style="width:189px">管理</td>
        </tr>
        <tr ng-repeat="a in list">
            <td>{{a.disasterId}}</td>
            <td style="width:8vw">{{a.areaDesc|DisasterShi}}</td>
            <td style="width:15vw">{{a.areaDesc|DisasterQu}}</td>
            <td style="width:6vw">{{a.startDate}}</td>
            <td style="width:4.5vw">{{a.inspectorCount}}</td>
            <td style="width:6vw">{{a.driverCount}}/{{a.driverNeedCnt}}</td>
            <td style="width:4vw">
                <label ng-hide="a.status == 2"><input ng-click="start(a)" ng-model="status" class="mui-switch mui-switch-animbg" type="checkbox" ng-checked="isChecked(a.status)"></label>
            </td>
            <td style="text-align:left;width:187px;">
                <button class="button_small" ng-click="viewdetail(a.disasterId)">详情</button>&nbsp;
                <button class="button_small button_small_green" ng-click="site(a.disasterId,a.areaDesc,a.status,'disasterorderlist','')">订单</button>&nbsp;
                <button class="button_small button_small_blue" ng-click="site(a.disasterId,a.areaDesc,a.status,'batchaddorder','')" ng-hide="a.status != 1">下单</button>
            </td>
            <td style="text-align:center;width:189px">
                <button  class="button_small_font" ng-click="site(a.disasterId,a.areaDesc,a.status,'disasterdriver',a.driverNeedCnt)">司机</button>&nbsp;
                <button  class="button_small_font" ng-click="site(a.disasterId,a.areaDesc,a.status,'disasterinspector','')">查勘</button>&nbsp;
                <button  class="button_small_font" ng-click="site(a.disasterId,a.areaDesc,a.status,'site','')">场地</button>
            </td>
            <!--<td class="table_td" style="width:6vw">
                <a class="table_a">管理</a>
                <div class="table_hover">
                    <p ng-click="site(a.disasterId,a.areaDesc,a.status,'disasterdriver',a.driverNeedCnt)">管理司机</p>
                    <p ng-click="site(a.disasterId,a.areaDesc,a.status,'disasterinspector','')">管理查勘员</p>
                    <p ng-click="site(a.disasterId,a.areaDesc,a.status,'site','')">管理保全场地</p>
                </div>
            </td>-->
        </tr>
    </table>
     
    <p ng-hide="page_p" class="page_p">
        <button class="page_btn" ng-hide="home" ng-click="Page('home')">首页 </button>
        <button class="page_btn" ng-hide="up" ng-click="Page('up')">上一页 </button> {{current}}
        <button class="page_btn" ng-hide="down" ng-click="Page('down')">下一页 </button>
        <button class="page_btn" ng-hide="end" ng-click="Page('end')">尾页 </button> 总页数:{{pageCount}}
    </p>
</div>