<div class="adddriver" ng-controller="driverlocationCtrl" ng-init="initData()">
    <h2>查看司机位置</h2>
    <button class="goback" ng-click="back()"></button>
    <h4 class="detail_title">
        {{title}}
    </h4>
    <p class="search_div">
        司机搜索：<input type="text" ng-model="key" style="width: 213px;" class="input" placeholder="支持司机名称和电话号码模糊查询">
        <button class="button search_button" ng-click="get_driver_track_list(disasterId,key,'ALL','')">查询</button>
        <button class="button" ng-click="location()">查看司机当前位置</button>
        <!--<select ng-change="get_driver_track_list(disasterId,'',status)" class="input" name="" id="" ng-model="status" ng-options="a.id as a.name for a in statusTexts"></select>-->
    </p>
    <div style="width: 35%;max-height: 608px;float: left;overflow-y: auto;">
        <table id="table2excel" cellspacing="0" ng-hide="table" cellpadding='10' class="table" style="width: 100%;float:left">
            <tr class="table_1_tr">
                <td>状态</td>
                <td>姓名</td>
                <td>联系方式</td>
                <td>所属车队</td>
            </tr>
            <tr ng-repeat="a in list">
                <td ng-click="selectdriver(a)" class="{{a.trackDesc == '离线'?'font_red':''}}">{{a.trackDesc}}</td>
                <td ng-click="selectdriver(a)">{{a.userName}}</td>
                <td ng-click="selectdriver(a)">{{a.userPhone}}</td>
                <td ng-click="selectdriver(a)">{{a.fleetName}}</td>
            </tr>

        </table>
        <!-- <p class="tips_p">
            <img src="img/zaixian.png" alt="">表示在线司机
            <img src="img/jingzhi.png" alt="">表示静止司机
            <img src="img/lixian.png" alt="">表示离线司机
        </p> -->
    </div>

    <!--<p ng-hide="page_p" class="location_page">
        <button class="page_btn" ng-hide="home" ng-click="Page('home')">首页 </button>
        <button class="page_btn" ng-hide="up" ng-click="Page('up')">上一页 </button> {{current}}
        <button class="page_btn" ng-hide="down" ng-click="Page('down')">下一页 </button>
        <button class="page_btn" ng-hide="end" ng-click="Page('end')">尾页 </button> 总页数:{{pageCount}}
    </p>-->
    <div id="allmap" style=" float: right;width: 64%;height: 67vh;margin-top: -10px;">

    </div>

    <div class="driver_all_div">
        <div class="all_driver_list {{pick == 1?'pick':''}}">
            <div class="driver_list_title">
                <span class="pick_span" ng-click="pick = !pick">{{pick == 1?'展开':'收起'}} <img class="zhankai" src="{{pick == 1?'img/zhankai.png':'img/shousuo.png'}}" alt=""> </span>
                <img src="" alt="">
            </div>
            <p class="driver_list_p">
                新订单： <span style="color:#f00">{{pending}}</span>
            </p>
            <p class="driver_list_p">
                订单总数：{{allCounts}}
            </p>
            <div class="driver_list_title " style="    display: flex;">
                <span>状态</span>
                <span>姓名</span>
                <span ng-hide="pick">联系方式</span>
                <span ng-hide="pick">所属车队</span>
                <span>操作</span>
            </div>
            <div class="driver_list">
                <p ng-repeat="a in list_line" ng-click="selectdriver2(a)">
                    <span class="{{a.trackDesc == '离线'?'font_red':''}}">{{a.trackDesc}}</span>
                    <span>{{a.userName}}</span>
                    <span ng-hide="pick">{{a.userPhone}}</span>
                    <span ng-hide="pick">{{a.fleetName}}</span>
                    <span><button ng-click="warn(a.userPhone) ;$event.stopPropagation();" class="button {{a.trackDesc == '离线'?'':'button_disabled'}}" ng-disabled="{{a.trackDesc == '离线'?'':'true'}}" style="min-width:60px;">提醒</button></span>
                </p>
            </div>
            <!-- <table id="table2excel" cellspacing="0" ng-hide="table" cellpadding='10' class="table2" style="width: 100%;float:left">
            <tr class="table_1_tr">
                <td style="max-width:90px;">姓名</td>
                <td>联系方式</td>
                <td style="width:50px;">状态</td>
            </tr>
            <tr ng-repeat="a in list_line">
                <td style="max-width:90px;word-wrap: break-word;" ng-click="selectdriver2(a)">{{a.userName}}</td>
                <td ng-click="selectdriver2(a)">{{a.userPhone}}</td>
                <td style="width:50px;" ng-click="selectdriver2(a)" class="{{a.trackDesc == '离线'? 'gray': (a.trackDesc == '静止'? 'red_font':'')}}">{{a.trackDesc}}</td>
            </tr>

        </table> -->
        </div>
        <div class="map_driver_detail {{detailDiv == 1?'hide':''}}">
            <div class="driver_title">司机详情
                <img ng-click="detailDiv = 1" style="float: right;margin-right: 20px;margin-top: 20px;" src="img/baise-guanbi.png" alt=""></div>
            <p style="background: #dedede;height: 40px;line-height: 40px;    margin-top: 0;">完成订单：{{detail_done}}&emsp;&emsp;&emsp;取消订单：{{detail_cancel}}</p>
            <p>司机姓名：{{detail_driverName}}</p>
            <p>联系方式：{{detail_driverPhone}}</p>
            <p>所属车队：{{detail_fleetName}}</p>
            <p style="background: #dedede;height: 40px;line-height: 40px;">执行中订单：{{detail_doing}}</p>
            <p>事故地点：{{address}}</p>
            <p>目的地点：{{fixaddress}}</p>

        </div>
    </div>
    <div class="alert_bg" ng-click="close()"></div>
    <div class="disadter_location">
        <img src="img/ditu-guanbi-dianji.png" ng-click="close()" style="position: fixed;right: 4vw;margin-top: 14px;z-index: 11;"
            alt="">
        <div id="alldriver" style="width:92%;height:87vh"></div>
    </div>
</div>