<div class="adddriver" ng-controller="driverordertotleCtrl" ng-init="initData()">
    <h2>司机订单统计</h2>
    <button class="goback" ng-click="back()"></button>
    <h4 class="detail_title">
        {{title}}
    </h4>
    <p class="search_div">
        <input class="input" type="text" ng-model="key" style="width:220px;" placeholder="支持司机名称和电话号码模糊搜索"> 接单日期：
        <input type="date" id="startDay" class="input">

        <button class="button search_button" ng-click="search()">查询</button>
        <button class="button" ng-click="initData()">显示全部</button>
    </p>
    <table id="table2excel" cellspacing="0" cellpadding='10' class="table">
        <tr class="table_1_tr">
            <td>状态</td>
            <td>司机姓名</td>
            <td>司机电话</td>
            <td>加入时间</td>
            <td>到达时间</td>
            <td>退出时间</td>
            <td>进行中</td>
            <td>已完成</td>
            <td>已取消</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="a in list">
            <td>{{a.statusDesc}}</td>
            <td>{{a.userName}}</td>
            <td>{{a.userPhone}}</td>
            <td>{{a.joinTime | ToLocal}}</td>
            <td>{{a.arriveTime | ToLocal}}</td>
            <td>{{a.leaveTime | ToLocal}}</td>
            <td>{{a.orderCntDoing}}</td>
            <td>{{a.orderCntFinish}}</td>
            <td>{{a.orderCntCancel}}</td>
            <td>
                <button class="button" ng-click="detail(a)" style="width: 100px;">查看订单</button>
            </td>
        </tr>
    </table>
     
    <p ng-hide="page_p" class="page_p">
        <button class="page_btn" ng-hide="home" ng-click="Page('home')">首页 </button>
        <button class="page_btn" ng-hide="up" ng-click="Page('up')">上一页 </button> {{current}}
        <button class="page_btn" ng-hide="down" ng-click="Page('down')">下一页 </button>
        <button class="page_btn" ng-hide="end" ng-click="Page('end')">尾页 </button> 总页数:{{pageCount}}
    </p>
</div>