<div class="adddriver" ng-controller="editorderCtrl" ng-init="initData()">
    <h2>修改订单</h2>
    <button class="goback" ng-click="goBack()"></button>
    <h4 ng-hide="isDisaster == 'not'" class="detail_title">
        订单：{{orderNo}}&emsp;&emsp;&emsp;{{title}}
    </h4>
    <div class="addorder">
        <table>
            <tr>
                <td>事故地点：</td>
                <td ng-hide="second">
                    {{editAddress}}
                </td>
                <td ng-hide="!second">
                    <input class="input" type="text" ng-model="editAddress" ng-click="selectMap()">
                </td>
            </tr>
            <tr>
                <td>案件号：</td>
                <td>
                    <input class="input" type="text" ng-model="editCaseNo">
                </td>
            </tr>
            <tr>
                <td>车主姓名：</td>
                <td><input class="input" type="text" ng-model="editDriverName"></td>
            </tr>
            <tr>
                <td>车主电话：</td>
                <td><input class="input" type="text" ng-model="editDriverPhone"></td>
            </tr>
        </table>
        <button class="button" style="margin-left: 5vw;margin-top: 30px;" ng-click="addOrder()">提交</button>
        <!--<button class="button button_del" style="margin-left: 50px;;margin-top: 30px;" ng-click="goBack()"></button>-->
    </div>
</div>