<div class="fixaddress" ng-controller="fixaddressCtrl" ng-init="initData()">
    <h2>查看固定目的地</h2>
    <button class="button" ng-click="addFixAddress()" ui-sref='main.map'>
        添加目的地
    </button>
    <table  cellspacing="0" class="table">
        <tr>
            <th></th>
            <th>简称</th>
            <th>百度地图位置</th>
            <th>操作</th>
        </tr>
        <tr ng-repeat="a in fix_address_list">
            <td>{{$index + 1}}</td>
            <td>{{a.addressAbbr}}</td>
            <td>{{a.address}}</td>
            <td><span class="button_span" ng-click="update(a)">修改</span><span class="button_span" ng-click="delete(a)">删除</span></td>
        </tr>
    </table>
     
    <p ng-hide="page_p" class="page_p">
        <button class="page_btn" ng-hide="home" ng-click="Page('home')">首页 </button>
        <button class="page_btn" ng-hide="up" ng-click="Page('up')">上一页 </button> {{current}}
        <button class="page_btn" ng-hide="down" ng-click="Page('down')">下一页 </button>
        <button class="page_btn" ng-hide="end" ng-click="Page('end')">尾页 </button> 总页数:{{pageCount}}
    </p>
    <!--<div class="closeBg" ng-click="closeBG()"></div>
    <div class="map_div">
        <div ui-view></div>
    </div>-->
</div>