<div class="login_div" ng-controller="loginCtrl" >
    <img class="logo_img" src="img/logo.png" alt="">
    <div style="width: 30vw;margin-left: 35vw;">
        <input autofocus type="text" class="login_input" placeholder="账号" ng-model="name" ng-keydown='keydown(e)'>
        <input type="password" class="login_input" placeholder="密码" ng-model="password" ng-keydown='keydown(e)'>
        <button class="login_input login_btn" ng-click="login()">登录</button>
    </div>
    <div style="margin-top: 15vh;">
        <p style="text-align: center;color: #fff;">为了更好的使用该管理系统，推荐使用最新版本的chrome浏览器. <a target="block" style="color: #fff" href="https://www.baidu.com/link?url=ARPrjQ1jujTK5d-3eT0Ii7mA1EXPEOaycqZBbzA98Ldzg0fbMYrAGzhaRT14Jij2V-BZo16-Z6hL9Y2EF4ItcaYgxgM-bLRy9AG2NVcB83O&wd=&eqid=f39b55890000a360000000065886f2ef"> 点击此链接下载</a></p>
    </div>
</div>