<div class="adddriver" ng-controller="reviewCtrl" ng-init="initData()">
    <h2>司机退出审核</h2>
    <button class="goback" ng-click="back()"></button>
    <h4 class="detail_title">
        {{title}}
    </h4>
    <table id="table2excel" cellspacing="0" ng-hide="table" cellpadding='10' class="table">
        <tr class="table_1_tr">
            <td></td>
            <td>司机姓名</td>
            <td>司机电话</td>
            <td>提交审核时间</td>
            <td>所属车队</td>
            <td>调度姓名</td>
            <td>调度电话</td>
            <td>操作</td>

        </tr>
        <tr ng-repeat="a in list">
            <td>{{$index + 1}}</td>
            <td>{{a.userName}}</td>
            <td>{{a.userPhone}}</td>
            <td>{{a.applyLeaveTime | ToLocal}}</td>
            <td>{{a.fleetName}}</td>
            <td>{{a.bossName}}</td>
            <td>{{a.bossPhone}}</td>
            <td>
                <button class="button green" ng-click="reviw_disaster_driver(a,1)">通过</button>
                <button class="button red" ng-click="reviw_disaster_driver(a,0)">拒绝</button>
            </td>
        </tr>
    </table>
     
    <p ng-hide="page_p" class="page_p">
        <button class="page_btn" ng-hide="home" ng-click="Page('home')">首页 </button>
        <button class="page_btn" ng-hide="up" ng-click="Page('up')">上一页 </button> {{current}}
        <button class="page_btn" ng-hide="down" ng-click="Page('down')">下一页 </button>
        <button class="page_btn" ng-hide="end" ng-click="Page('end')">尾页 </button> 总页数:{{pageCount}}
    </p>
</div>