<div class="adddriver" ng-controller="shop4SCtrl" ng-init="initData()">
    <h2>推修厂管理</h2>
    <p class="search_div">
        <button class="button" ng-click="goto('add','')">添加</button>
        <button class="button" ng-click="delete()">删除</button>
        <button class="button" ui-sref="main.batchshop4S">批量导入</button>

        <input type="text" ng-model="keyword" placeholder="请输入推修码、车行全称或车行地址" class="input" style="width:250px;" ng-model="keyword">
        <button class="button" ng-click="get_shop4S_list(keyword,10)">查询</button>
        <button class="button" ng-click="initData()">显示全部</button>
    </p>
    <table cellspacing="0" cellpadding='10' class="table">
        <tr class="table_1_tr">
            <td>
                <input type="checkbox" ng-click="selectAll()" ng-checked="all">
            </td>
            <td>
                支公司
            </td>
            <td>
                推修码
            </td>
            <td>
                车行全称
            </td>
            <td>
                车行简称
            </td>
            <td>
                车行地址
            </td>
            <td>
                售后经理
            </td>
            <td>
                电话
            </td>
            <td>
                售后经理2
            </td>
            <td>
                电话2
            </td>
            <td>
                操作
            </td>
        </tr>
        <tr ng-repeat="a in shopList">
            <td>
                <input type="checkbox" ng-checked="select_one" ng-click="selectOne(a.id)">
            </td>
            <td>
                {{a.branchCompany}}
            </td>
            <td>
                {{a.pushFixCode}}
            </td>
            <td>
                {{a.fullName}}
            </td>
            <td>
                {{a.simpleName}}
            </td>
            <td>
                {{a.address}}
            </td>
            <td>
                {{a.afterSaleMgr}}
            </td>
            <td>
                {{a.afterSalePhone}}
            </td>
            <td>
                {{a.afterSaleMgr2}}
            </td>
            <td>
                {{a.afterSalePhone2}}
            </td>
            <td>
                <button class="button" style="min-width:50px;" ng-click="goto('update',a)">修改</button>
            </td>
        </tr>
    </table>
</div>