<div class="adddriver" ng-controller="siteCtrl" ng-init="initData()">
    <h2 ng-hide="status == 2" >保全场地管理</h2>
    <h2 ng-hide="status != 2" >查看保全场地</h2>
    <button class="goback" ng-click="back()"></button>
    <h4 class="detail_title">
        {{title}}
    </h4>
    <button ng-hide="status == 2" class="button" ng-click="addSite()">
        添加保全场地
    </button>
    <table id="table2excel" cellspacing="0" ng-hide="table" cellpadding='10' class="table">
        <tr class="table_1_tr">
            <td></td>
            <td style="width:15vw;">简称</td>
            <td style="width:30vw;">百度地图位置</td>
            <td>操作</td>
        </tr>
        <tr ng-repeat="a in list">
            <td>{{$index + 1}}</td>
            <td style="width:15vw;">{{a.addressAbbr}}</td>
            <td style="width:30vw;">{{a.address}}</td>
            <td>
                <button class="button" ng-click="location(a)" style="width: 100px;">地图定位</button>
                <button ng-hide="status == 2" class="button" ng-click="update_disaster_address(a)" style="width: 70px;">修改</button>
                <button ng-hide="status == 2" class="button red" ng-click="delete_disaster_address(a.id,a.addressAbbr)" style="width: 70px;background: #f00;">删除</button>
            </td>
        </tr>
    </table>
     
    <p ng-hide="page_p" class="page_p">
        <button class="page_btn" ng-hide="home" ng-click="Page('home')">首页 </button>
        <button class="page_btn" ng-hide="up" ng-click="Page('up')">上一页 </button> {{current}}
        <button class="page_btn" ng-hide="down" ng-click="Page('down')">下一页 </button>
        <button class="page_btn" ng-hide="end" ng-click="Page('end')">尾页 </button> 总页数:{{pageCount}}
    </p>
    <div class="alert_bg" ng-click="close()"></div>
    <div class="disadter_location">
        <img src="img/ditu-guanbi-dianji.png" ng-click="close()" style="position: fixed;right: 4vw;margin-top: 14px;z-index: 11;" alt="">
        <div id="allmap" style="width:92%"></div>
    </div>

</div>