<div class="adddriver" ng-controller="updateFixCtrl" ng-init="initData()">
    <h2>{{selectTitle}}目的地点</h2>
    <div id="allmap" style="height:91%;width:70%"></div>
    <div class="map_right">
        <p id="selected" style="width:100%;    margin: 0;">
            <button class="selected_button selected_button_click " style="min-width:70px;margin-left:10px;" ng-click="tab('map')">地图搜索</button>
            <button ng-hide="shop4s_cfg == false" class="selected_button " style="min-width:80px;margin-left:10px;" ng-click="tab('shop')">推修厂地址</button>
            <button ng-hide="guding == false" class="selected_button " style="min-width:80px;margin-left:10px;" ng-click="tab('address')">固定目的地</button>

        </p>
        <!-- <div class="right_button_list">
            <button ng-click="showDiv = 'shop'">推修厂地址</button>
            <button ng-click="showDiv = 'address'">固定目的地</button>
            <button ng-click="showDiv = 'map'">地图搜索</button>
        </div> -->
        <div ng-hide="shop4s_cfg == false" class="search_shop4s {{showDiv == 'shop'?'':'hide'}}">
            <h3>推修厂</h3>
            <p><input class="p_input" type="text" placeholder="请输入推修厂简称" style="width:68%" ng-model="searchshop4s"><button class="button search_button"
                    ng-click="shop4s_btn()" style="min-width: 62px !important;">查询</button></p>
            <div class="search_shop4s_list">
                <div class="search_shop4s_item" ng-repeat="a in shop4slist" ng-click="selectshop4s(a)">
                    <p>{{a.simpleName}}</p>
                    <p>{{a.address}}</p>
                </div>
            </div>
            <p>
                <button class="button search_button button_disabled" disabled ng-click="update()" id="shop4s">{{selectTitle2}}</button>
                <button class="button search_button button_del" ng-hide="map_type == 1" ng-click="goBack()">取消</button>
            </p>
        </div>
        <div ng-hide="guding == false" class="search_shop4s  {{showDiv == 'address'?'':'hide'}}">
            <h3>固定目的地</h3>
            <p><input class="p_input" type="text" placeholder="请输入固定目的地地址" style="width:68%" ng-model="searchfixaddress">
                <button class="button search_button" ng-click="searchaddress()">查询</button>
            </p>
            <div class="search_shop4s_list">
                <div class="search_shop4s_item" ng-repeat="a in fixaddressList" ng-click="selectaddress(a)">
                    <p>{{a.addressAbbr}}</p>
                    <p>{{a.address}}</p>
                </div>
            </div>
            <p>
                <button class="button button_disabled" disabled ng-click="update2()" id="fixaddress">{{selectTitle2}}</button>
                <button class="button button_del" ng-hide="map_type == 1" ng-click="goBack()">取消</button>
            </p>
        </div>
        <div class="search_map  {{showDiv == 'map'?'':'hide'}}">
            <h3>目的地点：</h3>
            <p style="width: 246px;"><input class="p_input" type="text" placeholder="请输入目的地点" ng-change="change(searchName)" id="searchName" ng-model="searchName"></p>
            <p style="color: #555555;font-size: 13px;padding-right: 20px;">输入目的地请点击查询获取地图上的位置，也可直接点击地图获取位置</p>
            <p><button class="button search_button" ng-click="findPlace()">查询</button></p>
            <button class="button button_disabled" disabled ng-click="add()" id="add">{{selectTitle2}}</button>
            <button class="button button_del" ng-hide="map_type == 1" ng-click="goBack()">取消</button>
        </div>

    </div>
</div>